/* line 3, main.scss */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif; }

/* line 10, main.scss */
.container {
  width: 100%;
  max-width: 1890px;
  margin: 0 auto; }

/* line 16, main.scss */
a {
  text-decoration: none; }

/* line 20, main.scss */
li {
  list-style-type: none; }

/* line 24, main.scss */
body {
  position: relative; }

/* line 30, main.scss */
.block-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  /* line 35, main.scss */
  .block-header__column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 25%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px 0;
    border-left: 1px solid rgba(0, 0, 0, 0.2); }
    /* line 36, main.scss */
    .block-header__column:first-child {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      border-left: 0; }
  /* line 47, main.scss */
  .block-header__logo {
    font-size: 35px;
    font-weight: 500;
    color: #00709e; }
  /* line 52, main.scss */
  .block-header__header-tel, .block-header__title-addres {
    font-size: 20px;
    color: #777a7e;
    margin-bottom: 10px;
    text-transform: uppercase; }
  /* line 59, main.scss */
  .block-header__tel {
    font-size: 25px;
    color: #000; }
  /* line 63, main.scss */
  .block-header__time-tel, .block-header__addres, .block-header__email, .block-header__email-link {
    font-size: 16px;
    color: #777a7e;
    margin-top: 5px; }
  /* line 71, main.scss */
  .block-header__email-link {
    color: #97d0f5; }
  /* line 74, main.scss */
  .block-header__discount {
    text-align: center;
    font-size: 16px;
    color: #777a7e; }
    /* line 79, main.scss */
    .block-header__discount span {
      display: block;
      font-size: 20px;
      color: #777a7e;
      margin-bottom: 10px;
      text-transform: uppercase; }

/* line 89, main.scss */
.block-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #1f2e45; }
  /* line 94, main.scss */
  .block-menu__burger {
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    display: none; }
  /* line 100, main.scss */
  .block-menu__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 75%;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  /* line 105, main.scss */
  .block-menu__menu-item:last-child .block-menu__menu-link {
    color: red; }
  /* line 108, main.scss */
  .block-menu__menu-link {
    display: block;
    padding: 15px 25px;
    color: #fff;
    font-size: 20px;
    position: relative; }
    /* line 115, main.scss */
    .block-menu__menu-link::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 1px;
      height: 0;
      background: #fff;
      -webkit-transition: height .5s;
      transition: height .5s; }
    /* line 126, main.scss */
    .block-menu__menu-link::after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 1px;
      height: 0;
      background: #fff;
      -webkit-transition: height .5s;
      transition: height .5s; }
  /* line 140, main.scss */
  .block-menu__menu-link:hover::before {
    height: 100%; }
  /* line 143, main.scss */
  .block-menu__menu-link:hover::after {
    height: 100%; }
  /* line 148, main.scss */
  .block-menu .form {
    width: 25%; }
    /* line 151, main.scss */
    .block-menu .form__input {
      width: 50%;
      line-height: 20px;
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-right: 0;
      padding: 0 5px;
      font-size: 14px;
      color: #777a7e; }
    /* line 160, main.scss */
    .block-menu .form__button {
      width: 20%;
      line-height: 20px;
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-left: 0;
      background: #777a7e;
      font-size: 14px;
      color: #fff;
      cursor: pointer; }

/* line 173, main.scss */
.main-window {
  background: url(../img/baner.jpg) no-repeat center;
  background-size: cover; }
  /* line 177, main.scss */
  .main-window__row {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 120px;
    padding-bottom: 150px; }
  /* line 185, main.scss */
  .main-window__alips {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 3px solid #fff;
    border-right-color: transparent;
    border-bottom-color: transparent; }
  /* line 193, main.scss */
  .main-window__text {
    position: relative;
    color: #fff;
    font-size: 40px;
    z-index: 10;
    margin-left: -250px;
    margin-top: -40px; }
  /* line 201, main.scss */
  .main-window__sale {
    position: absolute;
    top: 63%;
    left: 32%;
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
    background: #1f2e45;
    padding: 10px 15px; }
    /* line 211, main.scss */
    .main-window__sale::before {
      content: '';
      display: block;
      position: absolute;
      bottom: -2px;
      width: 95%;
      height: 2px;
      background: #fff; }

/* line 223, main.scss */
.discont-block {
  position: relative;
  padding-bottom: 90px; }
  /* line 227, main.scss */
  .discont-block::after {
    content: '';
    display: block;
    -webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
            box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; }
  /* line 236, main.scss */
  .discont-block::before {
    content: '';
    display: block;
    background: url(../img/basket.png) no-repeat center;
    background-size: contain;
    width: 400px;
    height: 400px;
    position: absolute;
    bottom: 0px;
    right: 0; }
  /* line 250, main.scss */
  .discont-block__title {
    margin: 50px auto;
    text-align: center;
    color: #07759f;
    font-size: 40px;
    font-weight: bold;
    width: 50%; }

/* line 261, main.scss */
.discont-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px; }
  /* line 269, main.scss */
  .discont-page__disc-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    width: 19%;
    height: 200px; }
    /* line 278, main.scss */
    .discont-page__disc-box:first-child {
      background: url(../img/fon1.jpg) no-repeat center;
      background-size: cover; }
    /* line 282, main.scss */
    .discont-page__disc-box:nth-child(2) {
      background: url(../img/fon2.jpg) no-repeat center;
      background-size: cover; }
    /* line 286, main.scss */
    .discont-page__disc-box:nth-child(3) {
      background: url(../img/fon3.jpg) no-repeat center;
      background-size: cover; }
    /* line 290, main.scss */
    .discont-page__disc-box:nth-child(4) {
      background: url(../img/fon4.jpg) no-repeat center;
      background-size: cover; }
    /* line 294, main.scss */
    .discont-page__disc-box:last-child {
      background: url(../img/fon1.jpg) no-repeat center;
      background-size: cover; }
    /* line 299, main.scss */
    .discont-page__disc-box p {
      font-size: 35px;
      color: #fff; }
  /* line 305, main.scss */
  .discont-page__size-disc {
    color: red !important;
    width: 150px;
    height: 150px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 50%;
    -webkit-box-shadow: inset -1px -1px 5px 2px rgba(0, 0, 0, 0.5);
            box-shadow: inset -1px -1px 5px 2px rgba(0, 0, 0, 0.5); }

/* line 318, main.scss */
.block-basket {
  width: 80%;
  margin: 80px auto 0; }
  /* line 321, main.scss */
  .block-basket__text {
    font-size: 40px;
    color: #7d7d7d;
    text-transform: uppercase;
    letter-spacing: -1px; }
  /* line 327, main.scss */
  .block-basket__text-red {
    color: red; }
  /* line 330, main.scss */
  .block-basket .big-font {
    font-size: 55px;
    font-weight: bold; }

/* line 336, main.scss */
.ter {
  height: 500px; }

/* line 342, main.scss */
.velcom-page .container {
  padding-top: 50px;
  padding-bottom: 50px; }
/* line 347, main.scss */
.velcom-page__title {
  color: #2f8bae;
  font-size: 45px;
  width: 55%;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 5px;
  border-bottom: 2px solid #a4a2a2; }
/* line 356, main.scss */
.velcom-page__text {
  color: #2f8bae;
  font-size: 35px;
  text-align: center; }
  /* line 360, main.scss */
  .velcom-page__text span {
    color: red; }

/* line 367, main.scss */
.form-page1 {
  background: url(../img/baner2.jpg) no-repeat center;
  background-size: cover; }

/* line 372, main.scss */
.form-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50px;
  padding-bottom: 40px; }
  /* line 379, main.scss */
  .form-block__title {
    color: #1f2e45;
    font-size: 30px;
    margin-bottom: 15px; }
  /* line 384, main.scss */
  .form-block__text {
    color: #1f2e45;
    font-size: 25px;
    margin-bottom: 10px; }
  /* line 390, main.scss */
  .form-block .form {
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%; }
  /* line 398, main.scss */
  .form-block .form-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 60%; }
    /* line 403, main.scss */
    .form-block .form-container__input {
      width: 24%;
      line-height: 40px;
      padding: 0 10px;
      background: transparent;
      border: 2px solid #1f2e45;
      color: #1f2e45;
      font-weight: 300;
      font-size: 20px; }
      /* line 413, main.scss */
      .form-block .form-container__input:hover, .form-block .form-container__input:focus {
        border-color: rgba(31, 46, 69, 0.4); }
    /* line 419, main.scss */
    .form-block .form-container__btn {
      background: #1f2e45;
      border: none;
      color: #fff;
      font-size: 25px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding: 0 20px;
      line-height: 40px;
      margin-top: 20px;
      cursor: pointer; }
      /* line 430, main.scss */
      .form-block .form-container__btn:hover {
        opacity: .9; }

/* line 438, main.scss */
.product .container {
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative; }
  /* line 442, main.scss */
  .product .container::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -12px;
    left: 50%;
    margin-left: -12px;
    width: 12px;
    height: 12px;
    border: 6px solid #1f2e45;
    border-radius: 50%;
    background: #fff;
    z-index: 10; }
/* line 457, main.scss */
.product__title {
  color: #2f8bae;
  font-size: 45px;
  position: relative;
  width: 85%;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 50px; }
  /* line 465, main.scss */
  .product__title::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 3%;
    left: 50%;
    margin-left: -12px;
    width: 12px;
    height: 12px;
    border: 6px solid #1f2e45;
    border-radius: 50%; }
/* line 478, main.scss */
.product .product-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative; }
  /* line 483, main.scss */
  .product .product-page::before {
    content: '';
    display: block;
    position: absolute;
    width: 6px;
    height: 102%;
    margin: auto 0;
    left: 50%;
    margin-left: -3px;
    background: #1f2e45; }
  /* line 494, main.scss */
  .product .product-page__img, .product .product-page__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 35%;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  /* line 500, main.scss */
  .product .product-page__text {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
/* line 506, main.scss */
.product .text__title {
  color: #474747;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px; }
/* line 512, main.scss */
.product .text__txt {
  color: #474747;
  font-size: 20px; }

/* line 519, main.scss */
.block-form2 {
  background: url(../img/baner3.jpg) no-repeat center;
  background-size: cover;
  position: relative; }
  /* line 523, main.scss */
  .block-form2::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -12px;
    width: 12px;
    height: 12px;
    border: 6px solid #1f2e45;
    border-radius: 50%;
    background: #fff; }
  /* line 537, main.scss */
  .block-form2 .form-block__title {
    color: #fff; }
  /* line 540, main.scss */
  .block-form2 .form-block__text {
    color: #fff; }
  /* line 545, main.scss */
  .block-form2 .form {
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%; }
  /* line 553, main.scss */
  .block-form2 .form-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 60%; }
    /* line 558, main.scss */
    .block-form2 .form-container__input {
      width: 24%;
      line-height: 40px;
      padding: 0 10px;
      background: transparent;
      border: 2px solid #fff;
      color: rgba(255, 255, 255, 0.7);
      font-weight: 300;
      font-size: 20px; }
      /* line 568, main.scss */
      .block-form2 .form-container__input:hover, .block-form2 .form-container__input:focus {
        border-color: rgba(255, 255, 255, 0.4); }
    /* line 574, main.scss */
    .block-form2 .form-container__btn {
      background: #5e6871;
      border: 2px solid #fff;
      color: rgba(255, 255, 255, 0.7);
      font-size: 25px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding: 0 20px;
      line-height: 40px;
      margin-top: 20px;
      cursor: pointer;
      margin-bottom: 5px; }
      /* line 586, main.scss */
      .block-form2 .form-container__btn:hover {
        opacity: .9; }
    /* line 591, main.scss */
    .block-form2 .form-container__label {
      color: #fff;
      font-size: 12px; }
  /* line 597, main.scss */
  .block-form2 .check-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

/* line 603, main.scss */
.contact-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px; }
  /* line 609, main.scss */
  .contact-page .contacts, .contact-page .block-map {
    width: 50%; }
  /* line 612, main.scss */
  .contact-page .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 80px;
    padding-bottom: 180px;
    padding-left: 10%; }
    /* line 619, main.scss */
    .contact-page .contacts__title {
      color: #07759f;
      font-size: 30px;
      margin-bottom: 100px; }
    /* line 624, main.scss */
    .contact-page .contacts__text {
      color: #666;
      font-size: 30px; }
      /* line 627, main.scss */
      .contact-page .contacts__text span {
        color: #0000ff; }

/* line 634, main.scss */
.soc-block {
  background: #151e2d;
  color: #fff;
  font-size: 20px; }
  /* line 638, main.scss */
  .soc-block .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    line-height: 40px; }
  /* line 645, main.scss */
  .soc-block .soc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    /* line 647, main.scss */
    .soc-block .soc a {
      color: #fff;
      margin-right: 10px; }

/* line 654, main.scss */
.footer-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 50px;
  padding-bottom: 50px; }
  /* line 660, main.scss */
  .footer-page .footer-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 23%; }
    /* line 666, main.scss */
    .footer-page .footer-item__title {
      width: 100%;
      text-align: center;
      color: #666;
      font-size: 20px;
      font-weight: 500;
      text-transform: uppercase;
      position: relative;
      padding-bottom: 10px;
      margin-bottom: 30px; }
      /* line 677, main.scss */
      .footer-page .footer-item__title::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -50px;
        width: 100px;
        height: 2px;
        background: #666; }
    /* line 688, main.scss */
    .footer-page .footer-item__text {
      color: #666;
      text-align: center;
      margin-bottom: 5px; }
    /* line 693, main.scss */
    .footer-page .footer-item__icon {
      padding-right: 5px;
      color: #646462; }
    /* line 697, main.scss */
    .footer-page .footer-item__link {
      color: #07759f;
      display: block;
      padding: 5px 10px; }
      /* line 702, main.scss */
      .footer-page .footer-item__link:hover {
        opacity: .8; }

/* line 710, main.scss */
.mobile-block {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background: #1f2e45;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  /* line 722, main.scss */
  .mobile-block .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    /* line 735, main.scss */
    .mobile-block .mobile-menu .exit {
      position: absolute;
      top: 5%;
      right: 5%;
      cursor: pointer; }
      /* line 741, main.scss */
      .mobile-block .mobile-menu .exit i {
        font-size: 20px;
        color: #fff; }
    /* line 747, main.scss */
    .mobile-block .mobile-menu .form {
      margin: 50px auto 0;
      width: 40%; }
      /* line 751, main.scss */
      .mobile-block .mobile-menu .form__input {
        width: 70%;
        line-height: 20px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-right: 0;
        padding: 0 5px;
        font-size: 14px;
        color: #777a7e; }
      /* line 760, main.scss */
      .mobile-block .mobile-menu .form__button {
        width: 30%;
        line-height: 20px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-left: 0;
        background: #777a7e;
        font-size: 14px;
        color: #fff;
        cursor: pointer; }
    /* line 772, main.scss */
    .mobile-block .mobile-menu__menu-item {
      position: relative; }
      /* line 774, main.scss */
      .mobile-block .mobile-menu__menu-item::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 1px;
        height: 0;
        background: #fff;
        -webkit-transition: height .5s;
        transition: height .5s; }
      /* line 785, main.scss */
      .mobile-block .mobile-menu__menu-item::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 1px;
        height: 0;
        background: #fff;
        -webkit-transition: height .5s;
        transition: height .5s; }
    /* line 798, main.scss */
    .mobile-block .mobile-menu__menu-item:hover::before {
      height: 100%; }
    /* line 801, main.scss */
    .mobile-block .mobile-menu__menu-item:hover::after {
      height: 100%; }
    /* line 807, main.scss */
    .mobile-block .mobile-menu__menu-link {
      display: block;
      padding: 15px 25px;
      color: #fff;
      font-size: 20px;
      position: relative;
      text-align: center; }
      /* line 815, main.scss */
      .mobile-block .mobile-menu__menu-link::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 1px;
        background: #fff;
        -webkit-transition: width .5s;
        transition: width .5s; }
      /* line 826, main.scss */
      .mobile-block .mobile-menu__menu-link::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 0;
        height: 1px;
        background: #fff;
        -webkit-transition: width .5s;
        transition: width .5s; }
    /* line 839, main.scss */
    .mobile-block .mobile-menu__menu-link:hover::before {
      width: 100%; }
    /* line 842, main.scss */
    .mobile-block .mobile-menu__menu-link:hover::after {
      width: 100%; }
