// начальные стили.

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

.container {
	width: 100%;
	max-width: 1890px;
	margin: 0 auto;
}

a {
	text-decoration: none;
}

li {
	list-style-type: none;
}

body {
	position: relative;
}

// стили для блоков

.block-header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	&__column {
		&:first-child {
			justify-content: center;
			border-left: 0;
		}
		display: flex;
		width: 25%;
		flex-direction: column;
		align-items: center;
		padding: 20px 0;
		border-left: 1px solid rgba(0, 0, 0, .2);
	}
	&__logo {
		font-size: 35px;
		font-weight: 500;
		color: #00709e;
	}
	&__header-tel,
	&__title-addres {
		font-size: 20px;
		color: #777a7e;
		margin-bottom: 10px;
		text-transform: uppercase;
	}
	&__tel {
		font-size: 25px;
		color: #000;
	}
	&__time-tel,
	&__addres,
	&__email,
	&__email-link {
		font-size: 16px;
		color: #777a7e;
		margin-top: 5px;
	}
	&__email-link {
		color: #97d0f5;
	}
	&__discount {
		text-align: center;
		font-size: 16px;
		color: #777a7e;

		span {
			display: block;
			font-size: 20px;
			color: #777a7e;
			margin-bottom: 10px;
			text-transform: uppercase;
		}
	}
}

.block-menu {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: #1f2e45;
	&__burger {
		color: #fff;
		cursor: pointer;
		font-size: 20px;
		display: none;
	}
	&__menu {
		display: flex;
		width: 75%;
		justify-content: space-around;
	}
	&__menu-item:last-child &__menu-link {
		color: red;
	}
	&__menu-link {
		display: block;
		padding: 15px 25px;
		color: #fff;
		font-size: 20px;
		position: relative;

		&::before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 1px;
			height: 0;
			background: #fff;
			transition: height .5s;
		}
		&::after {
			content: '';
			display: block;
			position: absolute;
			bottom: 0;
			right: 0;
			width: 1px;
			height: 0;
			background: #fff;
			transition: height .5s;
		}
	}

	&__menu-link:hover {
		&::before{
			height: 100%;
		}
		&::after{
			height: 100%;
		}
	}

	.form {
		width: 25%;

		&__input {
			width: 50%;
			line-height: 20px;
			border: 1px solid rgba(0, 0, 0, .2);
			border-right: 0;
			padding: 0 5px;
			font-size: 14px;
			color: #777a7e;
		}
		&__button {
			width: 20%;
			line-height: 20px;
			border: 1px solid rgba(0, 0, 0, .2);
			border-left: 0;
			background: #777a7e;
			font-size: 14px;
			color: #fff;
			cursor: pointer;
		}
	}
}

.main-window {
	background: url(../img/baner.jpg) no-repeat center;
	background-size: cover;

	&__row {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		padding-top: 120px;
		padding-bottom: 150px;
	}
	&__alips {
		width: 400px;
		height: 400px;
		border-radius: 50%;
		border: 3px solid #fff;
		border-right-color: transparent;
		border-bottom-color: transparent;
	}
	&__text {
		position: relative;
		color: #fff;
		font-size: 40px;
		z-index: 10;
		margin-left: -250px;
		margin-top: -40px;
	}
	&__sale {
		position: absolute;
		top: 63%;
		left: 32%;
		font-size: 40px;
		color: #fff;
		text-transform: uppercase;
		background: #1f2e45;
		padding: 10px 15px;

		&::before {
			content: '';
			display: block;
			position: absolute;
			bottom: -2px;
			width: 95%;
			height: 2px;
			background: #fff;
		}
	}
}

.discont-block {
	position: relative;
	padding-bottom: 90px;

	&::after {
		content: '';
		display: block;
		box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, .3);
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
	}
	&::before {
		content: '';
		display: block;
		background: url(../img/basket.png) no-repeat center;
		background-size: contain;
		width: 400px;
		height: 400px;
		position: absolute;
		bottom: 0px;
		right: 0;
	}



	&__title {
		margin: 50px auto;
		text-align: center;
		color: #07759f;
		font-size: 40px;
		font-weight: bold;
		width: 50%;
	}
}


.discont-page {
	display: flex;
	width: 80%;
	margin: 0 auto;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 20px;

	&__disc-box {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		width: 19%;
		height: 200px;

		&:first-child {
			background: url(../img/fon1.jpg) no-repeat center;
			background-size: cover;
		}
		&:nth-child(2) {
			background: url(../img/fon2.jpg) no-repeat center;
			background-size: cover;
		}
		&:nth-child(3) {
			background: url(../img/fon3.jpg) no-repeat center;
			background-size: cover;
		}
		&:nth-child(4) {
			background: url(../img/fon4.jpg) no-repeat center;
			background-size: cover;
		}
		&:last-child {
			background: url(../img/fon1.jpg) no-repeat center;
			background-size: cover;
		}

		p {
			font-size: 35px;
			color: #fff;
		}
	}

	&__size-disc {
		color: red !important;
		width: 150px;
		height: 150px;
		background: #fff;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		box-shadow: inset -1px -1px 5px 2px rgba(0, 0, 0, .5);
	}
}

.block-basket {
	width: 80%;
	margin: 80px auto 0;
	&__text {
		font-size: 40px;
		color: #7d7d7d;
		text-transform: uppercase;
		letter-spacing: -1px;
	}
	&__text-red {
		color: red;
	}
	.big-font{
		font-size: 55px;
		font-weight: bold;
	}
}

.ter {
	height: 500px;
}


.velcom-page {
	.container {
		padding-top: 50px;
		padding-bottom: 50px;
	}

	&__title {
		color: #2f8bae;
		font-size: 45px;
		width:55%;
		text-align: center;
		margin: 0 auto;
		padding-bottom: 5px;
		border-bottom: 2px solid #a4a2a2;
	}
	&__text {
		color: #2f8bae;
		font-size: 35px;
		text-align: center;
		span {
			color: red;
		}
	}
}


.form-page1{
	background: url(../img/baner2.jpg) no-repeat center;
	background-size: cover;
}

.form-block {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 50px;
	padding-bottom: 40px;

	&__title {
		color: #1f2e45;
		font-size: 30px;
		margin-bottom: 15px;
	}
	&__text {
		color: #1f2e45;
		font-size: 25px;
		margin-bottom: 10px;
	}

	.form {
		margin-top: 50px;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}

	.form-container {
		display: flex;
		justify-content: space-between;
		width: 60%;

		&__input {
			width: 24%;
			line-height: 40px;
			padding: 0 10px;
			background: transparent;
			border: 2px solid #1f2e45;
			color: #1f2e45;
			font-weight: 300;
			font-size: 20px;

			&:hover,
			&:focus {
				border-color: rgba(31, 46, 69, .4);
			}
		}

		&__btn {
			background: #1f2e45;
			border: none;
			color: #fff;
			font-size: 25px;
			display: flex;
			padding: 0 20px;
			line-height: 40px;
			margin-top: 20px;
			cursor: pointer;

			&:hover {
				opacity: .9;
			}
		}
	}
}

.product {
	.container {
		padding-top: 50px;
		padding-bottom: 50px;
		position: relative;
		&::after {
			content: '';
			display: block;
			position: absolute;
			bottom: -12px;
			left: 50%; margin-left: -12px;
			width: 12px;
			height: 12px;
			border: 6px solid #1f2e45;
			border-radius: 50%;
			background: #fff;
			z-index: 10;
		}
	}

	&__title {
		color: #2f8bae;
		font-size: 45px;
		position: relative;
		width:85%;
		text-align: center;
		margin: 0 auto;
		padding-bottom: 50px;
		&::before {
			content: '';
			display: block;
			position: absolute;
			bottom:3%;
			left: 50%; margin-left: -12px;
			width: 12px;
			height: 12px;
			border: 6px solid #1f2e45;
			border-radius: 50%;
		}
	}

	.product-page {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		position: relative;
		&::before {
			content: '';
			display: block;
			position: absolute;
			width: 6px;
			height: 102%;
			margin: auto 0;
			left: 50%; margin-left: -3px;
			background: #1f2e45;
		}

		&__img, &__text {
			display: flex;
			width: 35%;
			height: auto;
			flex-direction: column;
		}
		&__text {
			justify-content: center;
		}
	}

	.text {
		&__title {
			color: #474747;
			font-size: 30px;
			font-weight: bold;
			margin-bottom: 10px;
		}
		&__txt {
			color: #474747;
			font-size: 20px;
		}
	}
}

.block-form2 {
	background: url(../img/baner3.jpg) no-repeat center;
	background-size: cover;
	position: relative;
	&::after {
		content: '';
		display: block;
		position: absolute;
		bottom: -10px;
		left: 50%; margin-left: -12px;
		width: 12px;
		height: 12px;
		border: 6px solid #1f2e45;
		border-radius: 50%;
		background: #fff;
	}

	.form-block {
		&__title {
			color: #fff;
		}
		&__text {
			color: #fff;
		}
	}

	.form {
		margin-top: 50px;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}

	.form-container {
		display: flex;
		justify-content: space-between;
		width: 60%;

		&__input {
			width: 24%;
			line-height: 40px;
			padding: 0 10px;
			background: transparent;
			border: 2px solid #fff;
			color: rgba(255, 255, 255, .7);
			font-weight: 300;
			font-size: 20px;

			&:hover,
			&:focus {
				border-color: rgba(255, 255, 255, .4);
			}
		}

		&__btn {
			background: #5e6871;
			border: 2px solid #fff;
			color: rgba(255, 255, 255, .7);
			font-size: 25px;
			display: flex;
			padding: 0 20px;
			line-height: 40px;
			margin-top: 20px;
			cursor: pointer;
			margin-bottom: 5px;

			&:hover {
				opacity: .9;
			}

		}
		&__label {
			color: #fff;
			font-size: 12px;
		}

	}
	.check-box {
		display: flex;
		align-items: center;
	}
}

.contact-page {
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
	padding-bottom: 20px;

	.contacts, .block-map {
		width: 50%;
	}
	.contacts {
		display: flex;
		flex-direction: column;
		padding-top: 80px;
		padding-bottom: 180px;
		padding-left: 10%;

		&__title {
			color: #07759f;
			font-size: 30px;
			margin-bottom: 100px;
		}
		&__text {
			color: #666;
			font-size: 30px;
			span {
				color: #0000ff;
			}
		}
	}
}

.soc-block {
	background: #151e2d;
	color: #fff;
	font-size: 20px;
	.container {
		display: flex;
		justify-content: space-around;
		align-items: center;
		line-height: 40px;
	}

	.soc {
		display: flex;
		a {
			color: #fff;
			margin-right: 10px;
		}
	}
}

.footer-page {
	display: flex;
	justify-content: space-around;
	padding-top: 50px;
	padding-bottom: 50px;

	.footer-item {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 23%;

		&__title {
			width: 100%;
			text-align: center;
			color: #666;
			font-size: 20px;
			font-weight: 500;
			text-transform: uppercase;
			position: relative;
			padding-bottom: 10px;
			margin-bottom: 30px;

			&::after {
				content: '';
				display: block;
				position: absolute;
				bottom: 0;
				left: 50%; margin-left: -50px;
				width: 100px;
				height: 2px;
				background: #666;
			}
		}
		&__text {
			color: #666;
			text-align: center;
			margin-bottom: 5px;
		}
		&__icon {
			padding-right: 5px;
			color: #646462;
		}
		&__link {
			color: #07759f;
			display: block;
			padding: 5px 10px;

			&:hover {
				opacity: .8;
			}
		}
	}
}


.mobile-block {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
	background: #1f2e45;
	display: none;
	align-items: center;
	justify-content: center;

	.mobile-menu {
		position: fixed;
		top:0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		.exit {
			position: absolute;
			top: 5%;
			right: 5%;
			cursor: pointer;

			i {
				font-size: 20px;
				color: #fff;
			}
		}

		.form {
			margin: 50px auto 0;
			width: 40%;

			&__input {
				width: 70%;
				line-height: 20px;
				border: 1px solid rgba(0, 0, 0, .2);
				border-right: 0;
				padding: 0 5px;
				font-size: 14px;
				color: #777a7e;
			}
			&__button {
				width: 30%;
				line-height: 20px;
				border: 1px solid rgba(0, 0, 0, .2);
				border-left: 0;
				background: #777a7e;
				font-size: 14px;
				color: #fff;
				cursor: pointer;
			}
		}

		&__menu-item{
			position: relative;
			&::before {
				content: '';
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 1px;
				height: 0;
				background: #fff;
				transition: height .5s;
			}
			&::after {
				content: '';
				display: block;
				position: absolute;
				bottom: 0;
				right: 0;
				width: 1px;
				height: 0;
				background: #fff;
				transition: height .5s;
			}
		}
		&__menu-item:hover {
			&::before{
				height: 100%;
			}
			&::after{
				height: 100%;
			}
		}


		&__menu-link {
			display: block;
			padding: 15px 25px;
			color: #fff;
			font-size: 20px;
			position: relative;
			text-align: center;

			&::before {
				content: '';
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 0;
				height: 1px;
				background: #fff;
				transition: width .5s;
			}
			&::after {
				content: '';
				display: block;
				position: absolute;
				bottom: 0;
				right: 0;
				width: 0;
				height: 1px;
				background: #fff;
				transition: width .5s;
			}
		}
		&__menu-link:hover {
			&::before{
				width: 100%;
			}
			&::after{
				width: 100%;
			}
		}
	}
}
