/* line 1, main.scss */
* {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  color: #000; }

/* line 8, main.scss */
.container {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  padding: 0 20px; }

/* line 17, main.scss */
a, a:hover {
  text-decoration: none; }

/* line 21, main.scss */
li {
  list-style-type: none; }

/* line 25, main.scss */
img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; }

/* line 35, main.scss */
.header {
  padding-top: 50px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

/* line 43, main.scss */
.logo-block {
  max-width: 160px; }

/* line 47, main.scss */
.block-menu {
  max-width: 60%; }

/* line 51, main.scss */
.main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%; }
  /* line 57, main.scss */
  .main-menu__link {
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: #000;
    display: block;
    padding: 10px 20px; }
  /* line 64, main.scss */
  .main-menu__link:hover, .main-menu__link:focus {
    opacity: .8;
    color: #000; }

/* line 71, main.scss */
.phone-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

/* line 76, main.scss */
.tel-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  /* line 81, main.scss */
  .tel-page__tel-img {
    width: 30px;
    height: 30px;
    margin-right: 10px; }
  /* line 86, main.scss */
  .tel-page__tel {
    font-size: 1.125rem;
    line-height: 1.3rem;
    letter-spacing: 0.05em;
    color: #000; }
  /* line 92, main.scss */
  .tel-page__tel:hover, .tel-page__tel:focus {
    opacity: .8;
    color: #000; }

/* line 100, main.scss */
.one-phone .tel-page__tel-img {
  width: 37px;
  height: 37px; }

/* line 106, main.scss */
.two-phone {
  margin-top: 10px; }
  /* line 108, main.scss */
  .two-phone .tel-page__tel {
    margin-right: 12px; }

/* line 113, main.scss */
.header-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 30px; }

/* line 120, main.scss */
.link-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  /* line 124, main.scss */
  .link-block__link {
    display: block;
    font-size: .875rem;
    line-height: 1.125rem;
    letter-spacing: 0.05em;
    color: rgba(164, 34, 34, 0.6);
    padding: 5px 2px;
    margin-right: 20px;
    border-bottom: 1px solid transparent; }
  /* line 135, main.scss */
  .link-block__link:hover, .link-block__link:focus {
    color: rgba(164, 34, 34, 0.6);
    border-color: rgba(164, 34, 34, 0.6); }
  /* line 140, main.scss */
  .link-block__link:last-child {
    margin-right: 0; }

/* line 147, main.scss */
.video-section .container {
  padding: 0;
  background: #000; }

/* line 155, main.scss */
.menu-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

/* line 160, main.scss */
.menu-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #000;
  border-right: 0;
  margin-bottom: 0;
  margin-top: -40px;
  position: relative; }
  /* line 169, main.scss */
  .menu-two__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 20px;
    background: #fff;
    border-right: 1px solid #000;
    font-size: 1.5rem;
    color: #000;
    line-height: 3.5rem; }
    /* line 180, main.scss */
    .menu-two__link .img-page {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 20px;
      height: 24px;
      margin-left: 60px; }
      /* line 186, main.scss */
      .menu-two__link .img-page img {
        width: 80%; }
    /* line 190, main.scss */
    .menu-two__link .search {
      margin-left: 0;
      margin-right: 22px;
      width: 30px; }
  /* line 196, main.scss */
  .menu-two__link:hover, .menu-two__link:focus {
    color: rgba(0, 0, 0, 0.8); }
  /* line 201, main.scss */
  .menu-two .search-link {
    background: #809FA6; }

/* line 208, main.scss */
.section-title {
  position: relative; }
  /* line 211, main.scss */
  .section-title .menu-page {
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  /* line 220, main.scss */
  .section-title .container {
    background: url(../img/one-bg.png) no-repeat 0 0;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 326px; }

/* line 228, main.scss */
.title-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 20%;
  margin: 0 auto; }
  /* line 234, main.scss */
  .title-page__sub-title {
    font-size: 2.5rem;
    line-height: 2.7rem; }
  /* line 238, main.scss */
  .title-page__title {
    font-size: 2.5rem;
    line-height: 2.7rem;
    letter-spacing: 0.03em; }
  /* line 243, main.scss */
  .title-page__text {
    font-size: 2rem;
    line-height: 2.2rem; }

/* line 252, main.scss */
.section-category .container {
  padding-top: 35px;
  padding-bottom: 35px; }

/* line 258, main.scss */
.catigory-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  margin: 0 auto; }
  /* line 264, main.scss */
  .catigory-item__title {
    background: #58592C;
    text-align: center;
    padding: 10px 0;
    color: #fff;
    font-size: 1.125rem;
    line-height: 1.5rem;
    margin-bottom: 30px; }
  /* line 273, main.scss */
  .catigory-item__title:hover, .catigory-item__title:focus {
    color: #fff;
    opacity: .9; }

/* line 280, main.scss */
.shadow-page {
  -webkit-box-shadow: 2px 8px 10px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 8px 10px 1px rgba(0, 0, 0, 0.5); }
  /* line 284, main.scss */
  .shadow-page .image-page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 250px; }

/* line 291, main.scss */
.item-contant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 25px 15px 10px; }
  /* line 296, main.scss */
  .item-contant__title {
    font-size: 1.125rem;
    line-height: 1.3rem;
    font-weight: 500;
    margin-bottom: 40px; }
  /* line 303, main.scss */
  .item-contant__text {
    color: rgba(0, 0, 0, 0.5);
    line-height: 1.125rem; }
  /* line 308, main.scss */
  .item-contant .size-page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 30px; }
    /* line 312, main.scss */
    .item-contant .size-page .size-img {
      width: 25px;
      height: 25px; }
    /* line 316, main.scss */
    .item-contant .size-page__text {
      margin-bottom: 0;
      margin-left: 10px; }
  /* line 322, main.scss */
  .item-contant__description {
    font-size: 1.125rem;
    line-height: 1.3rem;
    margin-top: 10px; }
  /* line 327, main.scss */
  .item-contant__price {
    font-size: 2rem;
    font-size: 2.3rem;
    margin-bottom: 0;
    color: #06d1b9; }

/* line 337, main.scss */
.reason-section .container {
  padding-top: 30px;
  padding-bottom: 108px; }
/* line 342, main.scss */
.reason-section .col-4 {
  margin-bottom: 30px !important; }

/* line 347, main.scss */
.reason-title {
  width: 80%;
  margin: auto;
  font-size: 2.25rem;
  line-height: 3rem;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase; }

/* line 357, main.scss */
.reason-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
  height: 100%;
  position: relative;
  margin: 0 auto;
  margin-top: 30px;
  padding-bottom: 80px; }
  /* line 367, main.scss */
  .reason-item__title {
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase; }
  /* line 374, main.scss */
  .reason-item__text {
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 2rem;
    width: 70%;
    margin: 0 auto; }
  /* line 382, main.scss */
  .reason-item .img-block {
    width: 100px;
    height: 100px;
    margin: 0 auto 20px; }
    /* line 386, main.scss */
    .reason-item .img-block img {
      -o-object-fit: contain;
         object-fit: contain; }
  /* line 391, main.scss */
  .reason-item__link {
    position: absolute;
    bottom: 0;
    left: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 90%;
    font-size: 1.125rem;
    line-height: 3.5rem;
    color: #fff;
    background: rgba(88, 89, 44, 0.8);
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
  /* line 404, main.scss */
  .reason-item__link:hover, .reason-item__link:focus {
    color: rgba(255, 255, 255, 0.8);
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4); }

/* line 411, main.scss */
.pos-img {
  position: relative;
  height: 100%;
  width: 100%; }
  /* line 416, main.scss */
  .pos-img .img-abs1 {
    position: absolute;
    top: 30%;
    left: 5%;
    width: 246px;
    height: 169px;
    -webkit-transform: rotate(-2.55deg);
            transform: rotate(-2.55deg); }
  /* line 424, main.scss */
  .pos-img .img-abs2 {
    position: absolute;
    top: 60%;
    left: 15%;
    width: 246px;
    height: 169px;
    -webkit-transform: rotate(14.5deg);
            transform: rotate(14.5deg); }

/* line 435, main.scss */
.six-contant {
  padding: 50px 20px 60px 80px; }
  /* line 438, main.scss */
  .six-contant__text {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 300; }

/* line 447, main.scss */
.advantages-section {
  padding-top: 100px; }
  /* line 449, main.scss */
  .advantages-section .container {
    max-width: 1117px;
    padding-bottom: 50px; }

/* line 456, main.scss */
.txt-block__title {
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: 2.25rem;
  line-height: 2.5rem;
  margin-bottom: 40px; }
/* line 464, main.scss */
.txt-block__text {
  text-align: justify;
  letter-spacing: 0.105em;
  text-transform: uppercase;
  -webkit-font-feature-settings: 'case' on;
          font-feature-settings: 'case' on;
  font-size: 1.125rem;
  line-height: 2.5rem;
  width: 75%;
  margin: 0 auto; }

/* line 478, main.scss */
.section-work {
  background: #C4CCCF url(../img/number/people.png) no-repeat 100% 0;
  background-size: contain; }
  /* line 482, main.scss */
  .section-work .container {
    padding-top: 40px;
    padding-bottom: 78px;
    max-width: 1117px; }

/* line 489, main.scss */
.stages-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 70%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

/* line 496, main.scss */
.stages-item {
  width: 26%;
  height: auto;
  position: relative;
  padding-bottom: 80px;
  margin-bottom: 50px; }
  /* line 503, main.scss */
  .stages-item .img-block {
    width: 107px;
    height: 107px;
    margin: 0 auto 50px; }
  /* line 509, main.scss */
  .stages-item__text {
    font-size: 1.125rem;
    line-height: 2rem;
    font-weight: 300; }
  /* line 514, main.scss */
  .stages-item__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: end;
        align-self: flex-end;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    line-height: 56px;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: rgba(88, 89, 44, 0.9);
    color: #fff;
    font-size: 1.125rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  /* line 528, main.scss */
  .stages-item__link:hover, .stages-item__link:focus {
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
    color: #fff; }

/* line 538, main.scss */
.partnership-section .container {
  padding-top: 50px;
  padding-bottom: 50px;
  max-width: 1117px; }

/* line 545, main.scss */
.partnership-contant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

/* line 550, main.scss */
.title-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px; }
  /* line 556, main.scss */
  .title-block__title {
    font-size: 3rem;
    line-height: 4rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 0; }
  /* line 562, main.scss */
  .title-block__link {
    background: #809FA6;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 277px;
    line-height: 50px;
    color: #fff;
    font-size: 1.125rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  /* line 573, main.scss */
  .title-block__link:hover, .title-block__link:focus {
    color: #fff;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4); }

/* line 580, main.scss */
.partnership-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 30px;
  position: relative;
  padding-right: 300px; }
  /* line 588, main.scss */
  .partnership-item .img-block img {
    -o-object-fit: contain;
       object-fit: contain; }
  /* line 592, main.scss */
  .partnership-item .block-text {
    margin-left: 30px;
    width: 100%; }
    /* line 595, main.scss */
    .partnership-item .block-text__title {
      font-size: 1.5rem;
      line-height: 1.8rem;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-bottom: 1px solid #000;
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content;
      padding: 0 5px 5px;
      margin-bottom: 10px; }
    /* line 604, main.scss */
    .partnership-item .block-text__text {
      font-size: 1.125rem;
      line-height: 1.5rem;
      margin-bottom: 0;
      padding-left: 5px; }
  /* line 612, main.scss */
  .partnership-item__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 200px;
    line-height: 40px;
    margin-left: 50px;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    right: 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #58592C;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 1.125rem;
    color: #fff; }
  /* line 627, main.scss */
  .partnership-item__link:hover, .partnership-item__link:focus {
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
    color: #fff; }

/* line 634, main.scss */
.partnership-item .img-block.one,
.partnership-item .img-block.two,
.partnership-item .img-block.three,
.partnership-item .img-block.four {
  width: 75px;
  height: 75px; }

/* line 642, main.scss */
.partnership-item .img-block.five {
  width: 80px;
  height: 80px; }

/* line 647, main.scss */
.partnership-item .img-block.six {
  width: 80px;
  height: 73px; }

/* line 652, main.scss */
.partnership-item .img-block.seven {
  width: 80px;
  height: 80px; }

/* line 659, main.scss */
.logo-bank {
  width: 90%;
  margin: 0 auto; }

/* line 664, main.scss */
.logo-bank.tn {
  margin: 0; }

/* line 671, main.scss */
.question-section .container {
  padding-top: 50px;
  padding-bottom: 50px; }

/* line 677, main.scss */
.question-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  /* line 681, main.scss */
  .question-block__title {
    text-transform: uppercase;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    font-size: 3rem;
    line-height: 3.2rem;
    margin-bottom: 40px; }

/* line 692, main.scss */
.question-item__quest {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  font-size: 1.125rem;
  line-height: 1.5rem; }
/* line 699, main.scss */
.question-item .plus {
  position: relative;
  width: 20px;
  height: 20px;
  display: block;
  margin-right: 20px; }
  /* line 706, main.scss */
  .question-item .plus::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1px;
    width: 2px;
    height: 100%;
    background: #000; }
  /* line 716, main.scss */
  .question-item .plus::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -1px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #000; }

/* line 729, main.scss */
input#acc_check1,
input#acc_check2,
input#acc_check3,
input#acc_check4,
input#acc_check5,
input#acc_check6 {
  position: absolute;
  clip: rect(0, 0, 0, 0); }

/* line 739, main.scss */
.answer-page__text, .sub-text {
  height: 0;
  padding: 0px;
  padding-left: 40px;
  overflow: hidden;
  -webkit-transition: 1s;
  transition: 1s;
  font-size: .875rem;
  line-height: 1.5rem;
  letter-spacing: .4px; }

/* line 752, main.scss */
label.button-link {
  font-weight: 500; }

/* line 756, main.scss */
.sub-text {
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer; }
  /* line 761, main.scss */
  .sub-text span {
    display: block;
    margin-top: 20px; }
    /* line 764, main.scss */
    .sub-text span sup {
      margin-right: 5px; }

/* line 770, main.scss */
input#acc_check1:checked ~ .answer-page__text,
input#acc_check2:checked ~ .answer-page__text,
input#acc_check3:checked ~ .answer-page__text,
input#acc_check4:checked ~ .answer-page__text,
input#acc_check5:checked ~ .answer-page__text,
input#acc_check6:checked ~ .sub-text {
  height: 100%; }

/* line 780, main.scss */
.info-section .container {
  padding-bottom: 50px; }

/* line 783, main.scss */
.info-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  margin: 0 auto; }
  /* line 789, main.scss */
  .info-left .info-img {
    position: relative;
    width: 100%;
    height: 160px; }
    /* line 794, main.scss */
    .info-left .info-img img:nth-child(1) {
      position: absolute;
      width: 150px;
      height: 100px;
      top: 10%;
      left: 15%;
      -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
              box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      -webkit-transform: rotate(-6.1deg);
              transform: rotate(-6.1deg);
      z-index: 5; }
    /* line 804, main.scss */
    .info-left .info-img img:nth-child(2) {
      position: absolute;
      width: 150px;
      height: 100px;
      top: 20%;
      right: 18%;
      -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
              box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      -webkit-transform: rotate(7.5deg);
              transform: rotate(7.5deg); }
  /* line 815, main.scss */
  .info-left__text {
    width: 75%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 2rem; }
  /* line 824, main.scss */
  .info-left__link {
    background: #1EADFE;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 240px;
    line-height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 1.125rem;
    font-weight: 300;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #000;
    margin: 40px auto 0; }
    /* line 838, main.scss */
    .info-left__link span {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 40px;
      height: 40px;
      margin-right: 10px; }
  /* line 845, main.scss */
  .info-left__link:hover, .info-left__link:focus {
    color: #000;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4); }

/* line 852, main.scss */
.right-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  /* line 855, main.scss */
  .right-info__title {
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 1.5rem;
    line-height: 2.5rem;
    width: 80%;
    margin: 0 auto 20px; }
  /* line 866, main.scss */
  .right-info__text {
    text-align: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 1.125rem;
    line-height: 2rem;
    width: 80%;
    margin: 40px auto 0; }
  /* line 877, main.scss */
  .right-info .img-right {
    width: 100%;
    height: 400px;
    position: relative; }
    /* line 882, main.scss */
    .right-info .img-right .info-arrow {
      position: absolute;
      bottom: -8%;
      left: -8%;
      width: 250px;
      height: 100px; }
    /* line 890, main.scss */
    .right-info .img-right__link {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      font-size: 1.125rem;
      line-height: 50px;
      color: #fff;
      width: 280px;
      position: absolute;
      bottom: 5%;
      left: 50%;
      margin-left: -140px;
      background: #809FA6;
      -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
              box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 5px; }
    /* line 904, main.scss */
    .right-info .img-right__link:hover, .right-info .img-right__libk:focus {
      color: #fff;
      -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
              box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4); }

/* line 915, main.scss */
.footer-title__title {
  letter-spacing: 0.18em;
  font-size: 1.125rem;
  font-weight: 500; }
  /* line 920, main.scss */
  .footer-title__title span {
    font-weight: 300; }

/* line 926, main.scss */
.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 40px; }
  /* line 931, main.scss */
  .footer-content .soc-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    /* line 934, main.scss */
    .footer-content .soc-contact__link {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      letter-spacing: 0.005em;
      -webkit-text-decoration-line: underline;
              text-decoration-line: underline;
      font-size: 1.125rem;
      line-height: 30px;
      color: #28367E;
      margin-bottom: 20px; }
      /* line 943, main.scss */
      .footer-content .soc-contact__link span {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 30px;
        height: 30px;
        margin-right: 10px; }
    /* line 952, main.scss */
    .footer-content .soc-contact__link:nth-child(2) span, .footer-content .soc-contact__link:nth-child(3) span {
      width: 25px;
      height: 25px;
      margin-right: 14px; }
  /* line 960, main.scss */
  .footer-content .footer-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    /* line 964, main.scss */
    .footer-content .footer-menu__link {
      letter-spacing: 0.005em;
      -webkit-text-decoration-line: underline;
              text-decoration-line: underline;
      font-size: 1.125rem;
      display: block;
      margin-bottom: 20px;
      color: #000;
      line-height: 30px; }
    /* line 973, main.scss */
    .footer-content .footer-menu__link:hover, .footer-content .footer-menu__link:focus {
      color: #000; }

/* line 980, main.scss */
.footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 40px; }
  /* line 984, main.scss */
  .footer-bottom__text {
    letter-spacing: 0.005em;
    font-size: 1.125rem;
    font-weight: 300;
    margin-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }
  /* line 992, main.scss */
  .footer-bottom__text:first-child {
    font-size: .875rem;
    margin-right: 25px; }
  /* line 996, main.scss */
  .footer-bottom__text:last-child {
    margin-bottom: -2px; }
