/* line 1, main.scss */
* {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  color: #000; }

/* line 8, main.scss */
.container {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  padding: 0 20px; }

/* line 17, main.scss */
a, a:hover {
  text-decoration: none; }

/* line 21, main.scss */
li {
  list-style-type: none; }

/* line 25, main.scss */
img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; }

/* line 34, main.scss */
body {
  position: relative; }

/* line 38, main.scss */
.menu-mobile {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #58592C;
  z-index: 100; }
  /* line 50, main.scss */
  .menu-mobile__exit {
    font-size: 1.25rem;
    font-weight: 500;
    color: #fff;
    width: 70px;
    height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid #fff;
    border-radius: 8px;
    position: absolute;
    top: 5%;
    right: 5%; }
  /* line 65, main.scss */
  .menu-mobile__exit:hover, .menu-mobile__exit:focus {
    color: #fff; }

/* line 71, main.scss */
.mob-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%; }
  /* line 76, main.scss */
  .mob-menu__link {
    font-size: 1.125rem;
    line-height: 2.5rem;
    color: #fff;
    display: block;
    width: 100%;
    text-align: center;
    position: relative; }
  /* line 85, main.scss */
  .mob-menu__link::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 1px;
    background: #fff;
    -webkit-transition: 1s;
    transition: 1s; }
  /* line 96, main.scss */
  .mob-menu__link::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    right: 50%;
    width: 0%;
    height: 1px;
    background: #fff;
    -webkit-transition: 1s;
    transition: 1s; }
  /* line 108, main.scss */
  .mob-menu__link:hover, .mob-menu__link:focus {
    color: #fff; }
  /* line 113, main.scss */
  .mob-menu__link:hover::before, .mob-menu__link:focus::before, .mob-menu__link:hover::after, .mob-menu__link:focus::after {
    width: 100%; }

/* line 121, main.scss */
.burger-block {
  display: none; }

/* line 125, main.scss */
.header {
  padding-top: 50px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

/* line 133, main.scss */
.logo-block {
  max-width: 160px; }

/* line 137, main.scss */
.block-menu {
  max-width: 60%; }

/* line 141, main.scss */
.main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%; }
  /* line 147, main.scss */
  .main-menu__link {
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: #000;
    display: block;
    padding: 10px 20px; }
  /* line 154, main.scss */
  .main-menu__link:hover, .main-menu__link:focus {
    opacity: .8;
    color: #000; }

/* line 161, main.scss */
.phone-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

/* line 166, main.scss */
.tel-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  /* line 171, main.scss */
  .tel-page__tel-img {
    width: 30px;
    height: 30px;
    margin-right: 10px; }
  /* line 176, main.scss */
  .tel-page__tel {
    font-size: 1.125rem;
    line-height: 1.3rem;
    letter-spacing: 0.05em;
    color: #000; }
  /* line 182, main.scss */
  .tel-page__tel:hover, .tel-page__tel:focus {
    opacity: .8;
    color: #000; }

/* line 190, main.scss */
.one-phone .tel-page__tel-img {
  width: 37px;
  height: 37px; }

/* line 196, main.scss */
.two-phone {
  margin-top: 10px; }
  /* line 198, main.scss */
  .two-phone .tel-page__tel {
    margin-right: 12px; }

/* line 203, main.scss */
.header-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 30px; }

/* line 210, main.scss */
.link-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  /* line 214, main.scss */
  .link-block__link {
    display: block;
    font-size: .875rem;
    line-height: 1.125rem;
    letter-spacing: 0.05em;
    color: rgba(164, 34, 34, 0.6);
    padding: 5px 2px;
    margin-right: 20px;
    border-bottom: 1px solid transparent; }
  /* line 225, main.scss */
  .link-block__link:hover, .link-block__link:focus {
    color: rgba(164, 34, 34, 0.6);
    border-color: rgba(164, 34, 34, 0.6); }
  /* line 230, main.scss */
  .link-block__link:last-child {
    margin-right: 0; }

/* line 237, main.scss */
.video-section .container {
  padding: 0;
  background: #000; }

/* line 245, main.scss */
.menu-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

/* line 250, main.scss */
.menu-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #000;
  border-right: 0;
  margin-bottom: 0;
  margin-top: -40px;
  position: relative; }
  /* line 259, main.scss */
  .menu-two__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 20px;
    background: #fff;
    border-right: 1px solid #000;
    font-size: 1.5rem;
    color: #000;
    line-height: 3.5rem; }
    /* line 270, main.scss */
    .menu-two__link .img-page {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 20px;
      height: 24px;
      margin-left: 60px; }
      /* line 276, main.scss */
      .menu-two__link .img-page img {
        width: 80%; }
    /* line 280, main.scss */
    .menu-two__link .search {
      margin-left: 0;
      margin-right: 22px;
      width: 30px; }
  /* line 286, main.scss */
  .menu-two__link:hover, .menu-two__link:focus {
    color: rgba(0, 0, 0, 0.8); }
  /* line 291, main.scss */
  .menu-two .search-link {
    background: #809FA6; }

/* line 298, main.scss */
.section-title {
  position: relative; }
  /* line 301, main.scss */
  .section-title .menu-page {
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  /* line 310, main.scss */
  .section-title .container {
    background: url(../img/one-bg.png) no-repeat 0 0;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 326px; }

/* line 318, main.scss */
.title-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 20%;
  margin: 0 auto; }
  /* line 324, main.scss */
  .title-page__sub-title {
    font-size: 2.5rem;
    line-height: 2.7rem; }
  /* line 328, main.scss */
  .title-page__title {
    font-size: 2.5rem;
    line-height: 2.7rem;
    letter-spacing: 0.03em; }
  /* line 333, main.scss */
  .title-page__text {
    font-size: 2rem;
    line-height: 2.2rem; }

/* line 342, main.scss */
.section-category .container {
  padding-top: 35px;
  padding-bottom: 35px; }

/* line 348, main.scss */
.catigory-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  margin: 0 auto; }
  /* line 354, main.scss */
  .catigory-item__title {
    background: #58592C;
    text-align: center;
    padding: 10px 0;
    color: #fff;
    font-size: 1.125rem;
    line-height: 1.5rem;
    margin-bottom: 30px; }
  /* line 363, main.scss */
  .catigory-item__title:hover, .catigory-item__title:focus {
    color: #fff;
    opacity: .9; }

/* line 370, main.scss */
.shadow-page {
  -webkit-box-shadow: 2px 8px 10px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 8px 10px 1px rgba(0, 0, 0, 0.5); }
  /* line 374, main.scss */
  .shadow-page .image-page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 250px; }

/* line 381, main.scss */
.item-contant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 25px 15px 10px; }
  /* line 386, main.scss */
  .item-contant__title {
    font-size: 1.125rem;
    line-height: 1.3rem;
    font-weight: 500;
    margin-bottom: 40px; }
  /* line 393, main.scss */
  .item-contant__text {
    color: rgba(0, 0, 0, 0.5);
    line-height: 1.125rem; }
  /* line 398, main.scss */
  .item-contant .size-page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 30px; }
    /* line 402, main.scss */
    .item-contant .size-page .size-img {
      width: 25px;
      height: 25px; }
    /* line 406, main.scss */
    .item-contant .size-page__text {
      margin-bottom: 0;
      margin-left: 10px; }
  /* line 412, main.scss */
  .item-contant__description {
    font-size: 1.125rem;
    line-height: 1.3rem;
    margin-top: 10px; }
  /* line 417, main.scss */
  .item-contant__price {
    font-size: 2rem;
    font-size: 2.3rem;
    margin-bottom: 0;
    color: #06d1b9; }

/* line 427, main.scss */
.reason-section .container {
  padding-top: 30px;
  padding-bottom: 108px; }
/* line 432, main.scss */
.reason-section .col-4 {
  margin-bottom: 30px !important; }

/* line 437, main.scss */
.reason-title {
  width: 80%;
  margin: auto;
  font-size: 2.25rem;
  line-height: 3rem;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase; }

/* line 447, main.scss */
.reason-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
  height: 100%;
  position: relative;
  margin: 0 auto;
  margin-top: 30px;
  padding-bottom: 80px; }
  /* line 457, main.scss */
  .reason-item__title {
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase; }
  /* line 464, main.scss */
  .reason-item__text {
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 2rem;
    width: 70%;
    margin: 0 auto; }
  /* line 472, main.scss */
  .reason-item .img-block {
    width: 100px;
    height: 100px;
    margin: 0 auto 20px; }
    /* line 476, main.scss */
    .reason-item .img-block img {
      -o-object-fit: contain;
         object-fit: contain; }
  /* line 481, main.scss */
  .reason-item__link {
    position: absolute;
    bottom: 0;
    left: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 90%;
    font-size: 1.125rem;
    line-height: 3.5rem;
    color: #fff;
    background: rgba(88, 89, 44, 0.8);
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
  /* line 494, main.scss */
  .reason-item__link:hover, .reason-item__link:focus {
    color: rgba(255, 255, 255, 0.8);
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4); }

/* line 501, main.scss */
.pos-img {
  position: relative;
  height: 100%;
  width: 100%; }
  /* line 506, main.scss */
  .pos-img .img-abs1 {
    position: absolute;
    top: 30%;
    left: 5%;
    width: 246px;
    height: 169px;
    -webkit-transform: rotate(-2.55deg);
            transform: rotate(-2.55deg); }
  /* line 514, main.scss */
  .pos-img .img-abs2 {
    position: absolute;
    top: 60%;
    left: 15%;
    width: 246px;
    height: 169px;
    -webkit-transform: rotate(14.5deg);
            transform: rotate(14.5deg); }

/* line 525, main.scss */
.six-contant {
  padding: 50px 20px 60px 80px; }
  /* line 528, main.scss */
  .six-contant__text {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 300; }

/* line 537, main.scss */
.advantages-section {
  padding-top: 100px; }
  /* line 539, main.scss */
  .advantages-section .container {
    max-width: 1117px;
    padding-bottom: 50px; }

/* line 546, main.scss */
.txt-block__title {
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: 2.25rem;
  line-height: 2.5rem;
  margin-bottom: 40px; }
/* line 554, main.scss */
.txt-block__text {
  text-align: justify;
  letter-spacing: 0.105em;
  text-transform: uppercase;
  -webkit-font-feature-settings: 'case' on;
          font-feature-settings: 'case' on;
  font-size: 1.125rem;
  line-height: 2.5rem;
  width: 75%;
  margin: 0 auto; }

/* line 568, main.scss */
.section-work {
  background: #C4CCCF url(../img/number/people.png) no-repeat 100% 0;
  background-size: contain; }
  /* line 572, main.scss */
  .section-work .container {
    padding-top: 40px;
    padding-bottom: 78px;
    max-width: 1117px; }

/* line 579, main.scss */
.stages-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 70%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

/* line 586, main.scss */
.stages-item {
  width: 26%;
  height: auto;
  position: relative;
  padding-bottom: 80px;
  margin-bottom: 50px; }
  /* line 593, main.scss */
  .stages-item .img-block {
    width: 107px;
    height: 107px;
    margin: 0 auto 50px; }
  /* line 599, main.scss */
  .stages-item__text {
    font-size: 1.125rem;
    line-height: 2rem;
    font-weight: 300; }
  /* line 604, main.scss */
  .stages-item__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: end;
        align-self: flex-end;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    line-height: 56px;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: rgba(88, 89, 44, 0.9);
    color: #fff;
    font-size: 1.125rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  /* line 618, main.scss */
  .stages-item__link:hover, .stages-item__link:focus {
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
    color: #fff; }

/* line 628, main.scss */
.partnership-section .container {
  padding-top: 50px;
  padding-bottom: 50px;
  max-width: 1117px; }

/* line 635, main.scss */
.partnership-contant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

/* line 640, main.scss */
.title-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px; }
  /* line 646, main.scss */
  .title-block__title {
    font-size: 3rem;
    line-height: 4rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 0; }
  /* line 652, main.scss */
  .title-block__link {
    background: #809FA6;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 277px;
    line-height: 50px;
    color: #fff;
    font-size: 1.125rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  /* line 663, main.scss */
  .title-block__link:hover, .title-block__link:focus {
    color: #fff;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4); }

/* line 670, main.scss */
.partnership-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 30px;
  position: relative;
  padding-right: 300px; }
  /* line 678, main.scss */
  .partnership-item .img-block img {
    -o-object-fit: contain;
       object-fit: contain; }
  /* line 682, main.scss */
  .partnership-item .block-text {
    margin-left: 30px;
    width: 100%; }
    /* line 685, main.scss */
    .partnership-item .block-text__title {
      font-size: 1.5rem;
      line-height: 1.8rem;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-bottom: 1px solid #000;
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content;
      padding: 0 5px 5px;
      margin-bottom: 10px; }
    /* line 694, main.scss */
    .partnership-item .block-text__text {
      font-size: 1.125rem;
      line-height: 1.5rem;
      margin-bottom: 0;
      padding-left: 5px; }
  /* line 702, main.scss */
  .partnership-item__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 200px;
    line-height: 40px;
    margin-left: 50px;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    right: 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #58592C;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 1.125rem;
    color: #fff; }
  /* line 717, main.scss */
  .partnership-item__link:hover, .partnership-item__link:focus {
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
    color: #fff; }

/* line 724, main.scss */
.partnership-item .img-block.one,
.partnership-item .img-block.two,
.partnership-item .img-block.three,
.partnership-item .img-block.four {
  width: 75px;
  height: 75px; }

/* line 732, main.scss */
.partnership-item .img-block.five {
  width: 80px;
  height: 80px; }

/* line 737, main.scss */
.partnership-item .img-block.six {
  width: 80px;
  height: 73px; }

/* line 742, main.scss */
.partnership-item .img-block.seven {
  width: 80px;
  height: 80px; }

/* line 749, main.scss */
.logo-bank {
  width: 90%;
  margin: 0 auto; }

/* line 754, main.scss */
.logo-bank.tn {
  margin: 0; }

/* line 761, main.scss */
.question-section .container {
  padding-top: 50px;
  padding-bottom: 50px; }

/* line 767, main.scss */
.question-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  /* line 771, main.scss */
  .question-block__title {
    text-transform: uppercase;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    font-size: 3rem;
    line-height: 3.2rem;
    margin-bottom: 40px; }

/* line 782, main.scss */
.question-item__quest {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  font-size: 1.125rem;
  line-height: 1.5rem; }
/* line 789, main.scss */
.question-item .plus {
  position: relative;
  width: 20px;
  height: 20px;
  display: block;
  margin-right: 20px; }
  /* line 796, main.scss */
  .question-item .plus::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1px;
    width: 2px;
    height: 100%;
    background: #000; }
  /* line 806, main.scss */
  .question-item .plus::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -1px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #000; }

/* line 819, main.scss */
input#acc_check1,
input#acc_check2,
input#acc_check3,
input#acc_check4,
input#acc_check5,
input#acc_check6 {
  position: absolute;
  clip: rect(0, 0, 0, 0); }

/* line 829, main.scss */
.answer-page__text, .sub-text {
  height: 0;
  padding: 0px;
  padding-left: 40px;
  overflow: hidden;
  -webkit-transition: 1s;
  transition: 1s;
  font-size: .875rem;
  line-height: 1.5rem;
  letter-spacing: .4px; }

/* line 842, main.scss */
label.button-link {
  font-weight: 500; }

/* line 846, main.scss */
.sub-text {
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer; }
  /* line 851, main.scss */
  .sub-text span {
    display: block;
    margin-top: 20px; }
    /* line 854, main.scss */
    .sub-text span sup {
      margin-right: 5px; }

/* line 860, main.scss */
input#acc_check1:checked ~ .answer-page__text,
input#acc_check2:checked ~ .answer-page__text,
input#acc_check3:checked ~ .answer-page__text,
input#acc_check4:checked ~ .answer-page__text,
input#acc_check5:checked ~ .answer-page__text,
input#acc_check6:checked ~ .sub-text {
  height: 100%; }

/* line 870, main.scss */
.info-section .container {
  padding-bottom: 50px; }

/* line 873, main.scss */
.info-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  margin: 0 auto; }
  /* line 879, main.scss */
  .info-left .info-img {
    position: relative;
    width: 100%;
    height: 160px; }
    /* line 884, main.scss */
    .info-left .info-img img:nth-child(1) {
      position: absolute;
      width: 150px;
      height: 100px;
      top: 10%;
      left: 15%;
      -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
              box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      -webkit-transform: rotate(-6.1deg);
              transform: rotate(-6.1deg);
      z-index: 5; }
    /* line 894, main.scss */
    .info-left .info-img img:nth-child(2) {
      position: absolute;
      width: 150px;
      height: 100px;
      top: 20%;
      right: 18%;
      -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
              box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      -webkit-transform: rotate(7.5deg);
              transform: rotate(7.5deg); }
  /* line 905, main.scss */
  .info-left__text {
    width: 75%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 2rem; }
  /* line 914, main.scss */
  .info-left__link {
    background: #1EADFE;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 240px;
    line-height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 1.125rem;
    font-weight: 300;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #000;
    margin: 40px auto 0; }
    /* line 928, main.scss */
    .info-left__link span {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 40px;
      height: 40px;
      margin-right: 10px; }
  /* line 935, main.scss */
  .info-left__link:hover, .info-left__link:focus {
    color: #000;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4); }

/* line 942, main.scss */
.right-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  /* line 945, main.scss */
  .right-info__title {
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 1.5rem;
    line-height: 2.5rem;
    width: 80%;
    margin: 0 auto 20px; }
  /* line 956, main.scss */
  .right-info__text {
    text-align: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 1.125rem;
    line-height: 2rem;
    width: 80%;
    margin: 40px auto 0; }
  /* line 967, main.scss */
  .right-info .img-right {
    width: 100%;
    height: 400px;
    position: relative; }
    /* line 972, main.scss */
    .right-info .img-right .info-arrow {
      position: absolute;
      bottom: -8%;
      left: -8%;
      width: 250px;
      height: 100px; }
    /* line 980, main.scss */
    .right-info .img-right__link {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      font-size: 1.125rem;
      line-height: 50px;
      color: #fff;
      width: 280px;
      position: absolute;
      bottom: 5%;
      left: 50%;
      margin-left: -140px;
      background: #809FA6;
      -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
              box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 5px; }
    /* line 994, main.scss */
    .right-info .img-right__link:hover, .right-info .img-right__libk:focus {
      color: #fff;
      -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
              box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4); }

/* line 1005, main.scss */
.footer-title__title {
  letter-spacing: 0.18em;
  font-size: 1.125rem;
  font-weight: 500; }
  /* line 1010, main.scss */
  .footer-title__title span {
    font-weight: 300; }

/* line 1016, main.scss */
.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 40px; }
  /* line 1021, main.scss */
  .footer-content .soc-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    /* line 1024, main.scss */
    .footer-content .soc-contact__link {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      letter-spacing: 0.005em;
      -webkit-text-decoration-line: underline;
              text-decoration-line: underline;
      font-size: 1.125rem;
      line-height: 30px;
      color: #28367E;
      margin-bottom: 20px; }
      /* line 1033, main.scss */
      .footer-content .soc-contact__link span {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 30px;
        height: 30px;
        margin-right: 10px; }
    /* line 1042, main.scss */
    .footer-content .soc-contact__link:nth-child(2) span, .footer-content .soc-contact__link:nth-child(3) span {
      width: 25px;
      height: 25px;
      margin-right: 14px; }
  /* line 1050, main.scss */
  .footer-content .footer-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    /* line 1054, main.scss */
    .footer-content .footer-menu__link {
      letter-spacing: 0.005em;
      -webkit-text-decoration-line: underline;
              text-decoration-line: underline;
      font-size: 1.125rem;
      display: block;
      margin-bottom: 20px;
      color: #000;
      line-height: 30px; }
    /* line 1063, main.scss */
    .footer-content .footer-menu__link:hover, .footer-content .footer-menu__link:focus {
      color: #000; }

/* line 1070, main.scss */
.footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 40px; }
  /* line 1074, main.scss */
  .footer-bottom__text {
    letter-spacing: 0.005em;
    font-size: 1.125rem;
    font-weight: 300;
    margin-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }
  /* line 1082, main.scss */
  .footer-bottom__text:first-child {
    font-size: .875rem;
    margin-right: 25px; }
  /* line 1086, main.scss */
  .footer-bottom__text:last-child {
    margin-bottom: -2px; }

/* line 1125, main.scss */
.bg-block .container {
  overflow: visible;
  position: relative; }
  /* line 1129, main.scss */
  .bg-block .container .str-title {
    position: absolute;
    top: 93%;
    left: 15%;
    width: 70%;
    background: #809FA6;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 2.25rem;
    line-height: 52px;
    text-transform: uppercase;
    color: #fff;
    padding-left: 10px;
    z-index: 10; }
  /* line 1145, main.scss */
  .bg-block .container img {
    height: 380px; }

/* line 1153, main.scss */
.link-page {
  padding-top: 95px;
  padding-bottom: 40px; }

/* line 1158, main.scss */
.link-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 115px; }
  /* line 1164, main.scss */
  .link-content__link {
    font-size: 1.5rem;
    line-height: 2.25rem;
    color: #000;
    display: block;
    border-bottom: 1px solid #000;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content; }
  /* line 1172, main.scss */
  .link-content__link:hover, .link-content__link:focus {
    opacity: .8;
    color: #000; }

/* line 1181, main.scss */
.three-sevices {
  padding-top: 40px; }

/* line 1186, main.scss */
.three-services-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  /* line 1188, main.scss */
  .three-services-content .left-block {
    color: #000;
    width: 70%;
    padding-right: 20px;
    padding-left: 200px; }
    /* line 1193, main.scss */
    .three-services-content .left-block__title {
      font-size: 1.5rem;
      line-height: 2.25rem;
      display: block;
      border-bottom: 1px solid #000;
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content;
      margin: 0 auto;
      margin-bottom: 20px; }
    /* line 1203, main.scss */
    .three-services-content .left-block__text {
      font-size: .875rem;
      line-height: 1.25rem;
      margin-bottom: 10px;
      padding-left: 20px; }
    /* line 1210, main.scss */
    .three-services-content .left-block__text.pl {
      padding-left: 0; }
    /* line 1214, main.scss */
    .three-services-content .left-block__subtitle {
      padding-left: 20px;
      font-size: 1.125rem;
      line-height: 1.875rem; }
  /* line 1221, main.scss */
  .three-services-content .right-block {
    width: 30%;
    height: auto;
    background: #F7F7F7;
    padding-top: 15px; }
    /* line 1227, main.scss */
    .three-services-content .right-block__link {
      font-size: 1.125rem;
      line-height: 32px;
      color: #fff;
      background: #809FA6;
      -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
              box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      width: 195px;
      display: block;
      margin: 0 auto;
      text-align: center; }
    /* line 1238, main.scss */
    .three-services-content .right-block__link:hover, .three-services-content .right-block__link:focus {
      color: #fff;
      -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
              box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4); }

/* line 1246, main.scss */
.services-btn {
  width: 70%;
  padding-top: 35px;
  padding-bottom: 20px;
  padding-left: 200px; }
  /* line 1252, main.scss */
  .services-btn__link {
    display: block;
    text-align: center;
    font-size: 1.125rem;
    line-height: 1.875rem;
    color: #fff;
    background: #58592C;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    max-width: 419px;
    margin: 0 auto; }
  /* line 1263, main.scss */
  .services-btn__link:hover, .services-btn__link:focus {
    color: #fff;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4); }

/* line 1272, main.scss */
.price-services .container {
  padding-top: 20px;
  padding-bottom: 50px; }

/* line 1277, main.scss */
.price-content {
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 220px; }
  /* line 1282, main.scss */
  .price-content__title {
    letter-spacing: 0.225em;
    text-transform: uppercase;
    font-size: 1.125rem;
    line-height: 1.875rem;
    margin-bottom: 25px; }
  /* line 1290, main.scss */
  .price-content .price-page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 80%; }
    /* line 1295, main.scss */
    .price-content .price-page .price-item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      min-height: 180px;
      width: 20%;
      margin-left: -20px; }
      /* line 1303, main.scss */
      .price-content .price-page .price-item__text {
        font-size: 1.125rem;
        line-height: 1.475rem; }
      /* line 1308, main.scss */
      .price-content .price-page .price-item__link {
        display: block;
        width: 100%;
        line-height: 32px;
        font-size: 1.125rem;
        text-align: center;
        color: #fff;
        background: #58592C;
        -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
      /* line 1318, main.scss */
      .price-content .price-page .price-item__link:hover, .price-content .price-page .price-item__link:focus {
        color: #fff;
        -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4); }

/* line 1329, main.scss */
.business-content {
  padding-bottom: 100px; }
  /* line 1331, main.scss */
  .business-content__title {
    font-size: 1.5rem;
    line-height: 2.25rem;
    display: block;
    border-bottom: 1px solid #000;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: 0 auto;
    margin-bottom: 20px; }
  /* line 1341, main.scss */
  .business-content__subtitle {
    font-size: 1.125rem;
    color: #000;
    line-height: 1.5rem;
    padding-left: 200px;
    margin-top: 10px;
    margin-bottom: 30px; }
  /* line 1349, main.scss */
  .business-content__subtitle.l-left {
    padding-left: 160px; }
  /* line 1353, main.scss */
  .business-content__text {
    font-size: .875rem;
    line-height: 1.125rem;
    padding-left: 200px;
    margin-bottom: 5px; }
  /* line 1359, main.scss */
  .business-content__text.left {
    padding-left: 100px; }
  /* line 1362, main.scss */
  .business-content__text.wleft {
    padding-left: 100px;
    width: 70%;
    margin-bottom: 40px; }
  /* line 1367, main.scss */
  .business-content__text.l-left {
    padding-left: 160px; }
  /* line 1371, main.scss */
  .business-content__link {
    display: block;
    width: 50%;
    line-height: 32px;
    font-size: 1.125rem;
    text-align: center;
    color: #fff;
    background: #58592C;
    margin-left: 25%;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 20px;
    margin-bottom: 50px; }
  /* line 1384, main.scss */
  .business-content__link:hover, .business-content__link:focus {
    color: #fff;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4); }

/* line 1391, main.scss */
.bus-btn {
  width: 70%; }

/* line 1395, main.scss */
.page-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 75%;
  margin-left: 200px;
  border: 0;
  margin-top: 20px; }
  /* line 1403, main.scss */
  .page-link__title {
    width: 100%;
    letter-spacing: 0.225em;
    text-transform: uppercase;
    font-size: 1.125rem;
    line-height: 1.5rem; }
  /* line 1411, main.scss */
  .page-link .left-page,
  .page-link .right-page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 50%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 100px; }
    /* line 1421, main.scss */
    .page-link .left-page__text,
    .page-link .right-page__text {
      font-size: 1.125rem;
      line-height: 1.5rem;
      text-align: center; }
    /* line 1427, main.scss */
    .page-link .left-page__link,
    .page-link .right-page__link {
      background: #58592C;
      -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
              box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      color: #fff;
      font-size: 1.125rem;
      line-height: 30px;
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content;
      padding: 0 10px; }
    /* line 1436, main.scss */
    .page-link .left-page__link:hover, .page-link .left-page__link:focus,
    .page-link .right-page__link:hover,
    .page-link .right-page__link:focus {
      color: #fff;
      -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
              box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4); }

/* line 1444, main.scss */
.page-link.two {
  -ms-flex-pack: distribute;
      justify-content: space-around; }
  /* line 1447, main.scss */
  .page-link.two .left-page,
  .page-link.two .right-page {
    min-height: auto;
    width: 30%; }
    /* line 1452, main.scss */
    .page-link.two .left-page__text,
    .page-link.two .right-page__text {
      border-bottom: 1px solid #000; }
    /* line 1456, main.scss */
    .page-link.two .left-page__link,
    .page-link.two .right-page__link {
      padding: 5px 50px; }

/* line 1462, main.scss */
.page-link:hover {
  background: transparent;
  border: 0; }

/* line 1467, main.scss */
.bus-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px; }
  /* line 1471, main.scss */
  .bus-block .bus-left {
    width: 70%; }
  /* line 1474, main.scss */
  .bus-block .bus-right {
    width: 30%;
    background: #F7F7F7;
    padding: 10px;
    padding-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    /* line 1484, main.scss */
    .bus-block .bus-right__text {
      font-size: 0.875rem;
      line-height: 1.25rem;
      width: 60%;
      margin: 0 auto; }
    /* line 1491, main.scss */
    .bus-block .bus-right img {
      width: 80%;
      max-height: 200px; }
    /* line 1496, main.scss */
    .bus-block .bus-right__link {
      background: #809FA6;
      -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
              box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      font-size: 1.125rem;
      color: #fff;
      text-align: center;
      line-height: 30px;
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content;
      padding: 0 5px;
      margin-bottom: 10px; }
    /* line 1508, main.scss */
    .bus-block .bus-right__link:hover, .bus-block .bus-right__link:focus {
      color: #fff;
      -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
              box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4); }
  /* line 1515, main.scss */
  .bus-block .bus-right.flex-st {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
