@font-face {
	font-family: DIN Pro bold;
	src: url("../fonts/15770.otf") format("opentype");
}

@font-face {
	font-family: DIN Pro medium;
	src: url("../fonts/15787.otf") format("opentype");
}

@font-face {
	font-family: DIN Pro;
	src: url("../fonts/15767.otf") format("opentype");
}
@font-face {
	font-family: PF Din Text Comp Pro Medium;
	src: url('../fonts/PF Din Text Comp Pro Medium.ttf') format('truetype');
}

.container {
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;
	padding: 0 10px;
	box-sizing: border-box;
}

body {
	position: relative;
}


/*header block*/

.header-block {
	background: #f8f8f8;
	padding-top: 70px;
	padding-bottom: 75px;
}

.header-cont {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.block-link {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.block-link .link {
	text-align: center;
}

.block-link .link .txt {
	font-family: PF Din Text Comp Pro Medium;
	font-size: 30px;
	line-height: 37px;
	color: #282828;
	opacity: .6;
	letter-spacing: .15px;
	display: inline-block;
	margin-top: 20px;
}

.block-link .link.video {
	display: inline-block;
	margin-right: 110px;
}

.img-block {
	width: 557px;
	height: 293px;
	display: block;
}

.header-title {
	font-family: DIN Pro bold;
	font-size: 45px;
	line-height: 59px;
	color: #282828;
	max-width: 620px;
	margin: 0 auto 70px;
}


/*cont-block*/

.cont-block {
	background: url(../img/cont-bg.jpg) no-repeat center;
	background-size: cover;
	padding-top: 130px;
	padding-bottom: 100px;
}

.cont-block .container {
	max-width: 1770px;
}

.block-left .cont-title {
	font-size: 70px;
	line-height: 90px;
	color: #282828;
	font-family: DIN Pro bold;
	max-width: 500px;
}

.right-block .right-title,
.team-title {
	font-size: 32px;
	line-height: 40px;
	color: #282828;
	font-family: DIN Pro bold;
	margin-bottom: 50px;
	width: 100%;
}

.block-ul {
	display: flex;
	justify-content: space-between;
	width: 100%;
	flex-wrap: wrap;
}

.right-ul {
	padding-left: 30px;
	margin-top: 0;
}

.ul-title, .speaker-item, .text-item {
	font-size: 31px;
	line-height: 40px;
	color: #282828;
	opacity: .6;
	font-family: DIN Pro medium;
}

.speaker {
	margin-left: 30px;
}

.speaker-item, .text-item {
	color: #6daee9;
	list-style-type: disc;
}

.speaker-item,
.text-item {
	font-size: 16px;
	line-height: 40px;
}

.speaker-item span,
.text-item span {
	color: #282828;
	font-size: 31px;
	line-height: 40px;
}

.ul-title {
	margin-bottom: 20px;
}

.img-red {
	margin-bottom: 60px;
}

.text-item {
	max-width: 300px;
	margin-bottom: 20px;
}

.text-item:last-child {
	margin-bottom: 0;
}

.tea-ul {
	margin-left: 40px;
}

.tea-ul:last-child {
	margin-left: 60px;
}

.block-team {
	display: flex;
	flex-wrap: wrap;
	background: url(../img/team-bg.png) no-repeat 0 0;
	background-size: 100% 100%;
	border-radius: 8px 0 0 8px;
	max-width: 1350px;
	padding: 70px 0 85px 85px;
	margin-top: 100px;
}

.right-block .right-title, .team-title, .tea-ul {
	position: relative;
	z-index: 2;
}

.bottom-block {
	position: relative;
}

.people {
	position: absolute;
	top: -554px;
	left: 23%;
	z-index: 1;
}

.team-img {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 1;
}

.link-expert:first-child {
	display: inline-block;
	margin-right: 15px;
}

.page-cont {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.modal-block {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	background: rgba(255, 255, 255, .8);
	display: none;
	align-items: center;
	justify-content: center;
}

.modal {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	flex-direction: column;
	width: 1366px;
	height: 644px;
	border-radius: 8px;
	overflow: hidden;
	padding-right: 100px;
	background: url(../img/modal.png) no-repeat center;
	background-size: cover;
	position: static !important;
}
.modal .modal-text {
	max-width: 600px;
	font-size: 40px;
	line-height: 55px;
	color: #fff;
	font-family: DIN Pro bold;
}

.modal .modal-txt {
	max-width: 500px;
	font-size: 30px;
	line-height: 41px;
	color: #fff;
	opacity: .4;
	font-family: DIN Pro;
	margin-top: 30px;
}

.modal-link {
	display: flex;
	align-items: center;
	margin-top: 30px;
}

.modal-link .link {
	display: flex;
	align-items: center;
	justify-content: center;
	width: max-content;
	padding: 0 40px;
	height: 85px;
	background: transparent;
	color: #fff;
	opacity: .4;
	font-size: 30px;
	font-family: DIN Pro medium;
	border-radius: 45px;
}

.modal-link .link:first-child{
	box-shadow: 11px 11px 27px 0 rgba(72, 0, 255, .29);
	background: #fff;
	color: #2200ff;
	opacity: 1;
}

.modal-link .link img {
	display: block;
	margin-left: 15px;
	margin-top: 5px;
}