@media (max-width: 1519px) {
	html {
		font-size: 14px;
	}

	.header {
		flex-direction: column;
		padding-top: 20px;
	}

	.header .block-phone,
	.header .main-menu {
		align-self: center;
		height: 50px;
	}

	.main-bg {
		background-position: 100% 0;
	}

	.three-bg {
		background-position: 100% center;
	}

	.section-four {
		background: url(../img/main-bg3.jpg) no-repeat 35% 0;
	}

	.page-contant {
		width: 90%;
	}

	.div-form {
		width: 80%;
	}
}

@media (max-width: 991px) {
	html {
		font-size: 13px;
	}
	.section-four,
	.section-five .container {
		padding-top: 85px;
	}
	.form-section .container {
		padding-top: 85px;
	}

	.div-form {
		width: 100%;
	}
		.input-block {
		width: 40%;
	}

	.page-contant .cont-item {
		width: 31%;
	}
}

@media (max-width: 768px) {
	.section-two {
		text-align: left;
	}

	.block-result {
		justify-content: flex-start;
	}

	.page-contant {
		width: 100%;
		flex-wrap: wrap;
		justify-content: space-around;
	}

	.page-contant .cont-item {
		width: 45%;
		margin-bottom: 40px;
	}

	.input-block {
		width: 45%;
	}

	.input-block:last-child {
		margin-bottom: 80px;
	}
}

@media (max-width: 690px) {
	html {
		font-size: 12px;
	}
	.header{
		flex-direction: row;
		-ms-align-items: center;
		align-items: center;
		justify-content: space-between;
		padding: 0 15px;
		padding-top: 20px;
	}
	.header .block-phone {
		flex-direction: column;
	}

	.main-menu .main-link {
		display: none;
	}


	.main-menu .menu-mob {
		font-size: 1.375rem;
		color: #fff;
		padding: 5px 20px;
		border-radius: 25px;
		display: block;
		border: 1px solid #fff;
	}
	.main-menu .menu-mob:hover,
	.main-menu .menu-mob:focus {
		box-shadow: 0 0 3px 3px #fff;
	}

	.mob-menu {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: none;
		justify-content: center;
		-ms-align-items: center;
		align-items: center;
		flex-direction: column;
		background: url(../img/main-bg.jpg) no-repeat 0 0;
		-webkit-background-size: cover;
		background-size: cover;
		z-index: 20;
	}

	.mob-menu .main-link {
		font-size: 1.375rem;
		color: #fff;
		padding: 5px 20px;
		border-radius: 25px;
		margin: 0 auto;
		text-align: center;
		margin-bottom: 10px;
		position: relative;
		width: 90%;
	}
	.mob-menu .main-link::before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		display: block;
		width: 0%;
		height: 1px;
		background: #fff;
		transition: .7s;
	}
	.mob-menu .main-link::after {
		content: '';
		position: absolute;
		bottom: 0;
		right: 0;
		display: block;
		width: 0%;
		height: 1px;
		background: #fff;
		transition: .7s;
	}
	.mob-menu .main-link:hover::after,
	.mob-menu .main-link:hover::before,
	.mob-menu .main-link:focus::after,
	.mob-menu .main-link:focus::before {
		width: 50%;
	}
	.mob-menu .exit {
		display: block;
		position: absolute;
		top: 20px;
		right: 20px;
		color: #fff;
		font-size: 30px;
		border-radius: 50%;
	}
	.form-section .container .title {
		text-align: left;
	}
}


@media (max-width: 600px) {
	html {
		font-weight: 10px;
	}

	.main-window .container {
		padding: 0;
	}

	.main-bg {
		padding: 0 15px;
	}

	.main-contant {
		width: 100%;
		padding-bottom: 70px;
	}

	.main-contant .profession {
		font-size: 1.8rem;
		line-height: 2rem;
	}

	.main-contant .name {
		font-size: 5rem;
		line-height: 5.3rem;
		color: #fff;
		letter-spacing: -1px;
		margin-top: 30px;
		margin-bottom: 50px;
	}

	.main-contant .reservation {
		width: 320px;
		margin: 0 auto;
		font-size: 1.8rem;
		padding: 5px 15px;
	}

	.section-two {
		padding-top: 40px;
		background: none;
		background-color: #0b0b0b;
		text-align: center;
	}
	.section-two .title,
	.three-bg .title,
	.section-four .title,
	.section-five .title,
	.form-section .container .title {
		font-size: 4rem;
		line-height: 4.2rem;
		letter-spacing: -1px;
	}

	.block-result,
	.number-block2 {
		margin-top: 40px;
		flex-wrap: wrap;
		justify-content: space-around;
		width: 100%;
	}

	.block-result .number {
		width: 40%;
		margin-top: 10px;
	}

	.number-block2 .number2:nth-child(2),
	.block-result .number:nth-child(2) {
		margin: 10px 0 0;
	}

	.section-three {
		text-align: right;
	}

	.section-three .container {
		padding: 0;
	}

	.three-bg {
		padding: 60px 15px 40px;
		background-position: 100% 20%;
	}

	.section-two .text,
	.section-four .text,
	.three-bg .text {
		width: 100%;
		font-size: 1.35rem;
		line-height: 1.5rem;
	}

	.section-four {
		background: url(../img/main-bg3.jpg) no-repeat 26% 0;
		padding-bottom: 60px;
	}

	.number-block2 .number2 {
		width: 50%;
		margin-top: 15px;
	}

	.section-five .container {
		padding-bottom: 60px;
	}

	.section-five .title {
		font-size: 3.9rem;
	}

	.page-contant {
		flex-wrap: wrap;
		width: 100%;
	}
	.page-contant .cont-item {
		width: 48%;
		margin-bottom: 40px;
	}

	.form {
		flex-direction: column;
		justify-content: flex-start;
	}

	.input-block {
		width: 100%;
	}

	.contact-block {
		flex-direction: column;
		width: 100%;
		-ms-align-items: flex-end;
		align-items: flex-end;
	}

	.icon-link {
		margin-top: 30px;
	}
	.soc-block {
		justify-content: flex-end;
	}
}

@media (max-width: 500px) {
	.page-contant .cont-item {
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}
	.form-section .container {
		background: none;
		background-color: #0b0b0b;
	}
	.main-contant .reservation {
		width: 80%;
	}
	.contact-block {
		-ms-align-items: center;
		align-items: center;
	}
	.soc-block {
		justify-content: center;
	}
}

@media (max-width: 376px) {
	.main-contant .reservation {
		width: 90%;
	}
	.number-block2 .number2 {
		width: 100%;
	}

	.page-contant .cont-item {
		width: 100%;
	}
}