@media (max-width: 1500px) {
  /* line 2, media.scss */
  .block-top {
    padding: 0;
    -ms-flex-pack: distribute;
        justify-content: space-around; } }
@media (max-width: 1300px) {
  /* line 9, media.scss */
  .block-top {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 50px; }
    /* line 14, media.scss */
    .block-top__title {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      margin-bottom: 40px;
      -webkit-box-ordinal-group: 0;
          -ms-flex-order: -1;
              order: -1; }

  /* line 22, media.scss */
  .section-two {
    padding-top: 50px; }

  /* line 26, media.scss */
  .header-middle {
    padding-left: 50px;
    margin-top: 200px;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    /* line 31, media.scss */
    .header-middle__logo {
      margin-right: 0;
      height: 250px; }
      /* line 35, media.scss */
      .header-middle__logo img {
        width: 100%;
        height: 100%; }
    /* line 41, media.scss */
    .header-middle__title {
      font-size: 75px;
      line-height: 85px; }

  /* line 47, media.scss */
  .block-img {
    max-height: 650px; }
    /* line 50, media.scss */
    .block-img img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }

  /* line 57, media.scss */
  .block-icon {
    margin-bottom: 20px; }

  /* line 61, media.scss */
  .footer {
    padding-bottom: 60px; } }
@media (max-width: 1100px) {
  /* line 68, media.scss */
  .block-top .text-block {
    max-width: 600px; }

  /* line 72, media.scss */
  .top-block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-right: 30px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    /* line 77, media.scss */
    .top-block__text {
      margin-bottom: 20px; }
    /* line 80, media.scss */
    .top-block__link {
      margin-bottom: 20px; }

  /* line 85, media.scss */
  .top-menu {
    margin-left: 40px;
    margin-bottom: 20px; } }
@media (max-width: 768px) {
  /* line 92, media.scss */
  .footer {
    padding-bottom: 30px; }

  /* line 96, media.scss */
  .header-middle {
    margin-top: 100px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    /* line 99, media.scss */
    .header-middle__logo {
      height: 170px;
      width: 100px;
      margin-right: 30px; }
    /* line 104, media.scss */
    .header-middle__title {
      font-size: 60px;
      line-height: 70px; }

  /* line 110, media.scss */
  .block-top .text-block {
    max-width: 100%; }

  /* line 114, media.scss */
  .block-top .text-block__title {
    font-size: 24px; }

  /* line 118, media.scss */
  .block-top__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-top: 20px; }

  /* line 125, media.scss */
  .block-top {
    margin-bottom: 50px; }

  /* line 129, media.scss */
  .footer-cont {
    padding: 0 30px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

  /* line 134, media.scss */
  .top-block {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  /* line 139, media.scss */
  .top-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-top: 20px; }
    /* line 144, media.scss */
    .top-menu__item {
      margin: 0;
      margin-bottom: 10px; } }
@media (max-width: 575px) {
  /* line 152, media.scss */
  .block-top__title {
    width: 50%; }

  /* line 156, media.scss */
  .block-top .text-block__title {
    font-size: 20px; }

  /* line 160, media.scss */
  .header-menu {
    width: 100%;
    left: -1000px; }

  /* line 165, media.scss */
  .header-middle {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 50px;
    padding-left: 20px; }
    /* line 171, media.scss */
    .header-middle__title {
      font-size: 40px;
      line-height: 50px; }
    /* line 176, media.scss */
    .header-middle__logo {
      height: 150px;
      margin-bottom: 20px;
      margin-right: 0; }

  /* line 183, media.scss */
  .block-icon__text {
    font-size: 12px; }

  /* line 189, media.scss */
  .block-top__title img {
    width: 100%;
    height: 100%; }

  /* line 195, media.scss */
  .block-top {
    padding: 0 20px; } }
