@font-face {
  font-family: 'Tharlon';
  src: url("../fonts/Tharlon-Regular.ttf");
  font-weight: normal;
  font-style: normal; }
/* line 22, mobile-personal.scss */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans';
  color: #383838; }

/* line 30, mobile-personal.scss */
.container {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 10px; }

/* line 38, mobile-personal.scss */
img {
  width: 100%; }

/* line 42, mobile-personal.scss */
a, a:hover {
  text-decoration: none;
  color: #383838; }

/* line 47, mobile-personal.scss */
li {
  list-style-type: none; }

/* line 51, mobile-personal.scss */
.phonecall {
  position: fixed;
  right: 5%;
  bottom: 5%;
  z-index: 1000;
  display: block; }
  /* line 58, mobile-personal.scss */
  .phonecall img {
    width: auto; }

/* line 63, mobile-personal.scss */
.basket {
  margin-left: 25px !important; }

/* line 67, mobile-personal.scss */
.burger {
  margin-left: 20px !important; }

/* line 72, mobile-personal.scss */
.header-topL, .menu-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 38px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid rgba(56, 56, 56, 0.3); }
  /* line 78, mobile-personal.scss */
  .header-topL .menu, .header-topL .menu-link, .menu-link .menu, .menu-link .menu-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 38px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0; }
    /* line 84, mobile-personal.scss */
    .header-topL .menu__item, .header-topL .menu-link__item, .menu-link .menu__item, .menu-link .menu-link__item {
      line-height: 38px; }
    /* line 87, mobile-personal.scss */
    .header-topL .menu__link, .header-topL .menu-link__link, .menu-link .menu__link, .menu-link .menu-link__link {
      display: inline-block;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 0.9375rem;
      padding: 0 10px; }
  /* line 97, mobile-personal.scss */
  .header-topL .menu__item:nth-child(1) .menu__link,
  .header-topL .menu-link__item:nth-child(1) .menu-link__link, .menu-link .menu__item:nth-child(1) .menu__link,
  .menu-link .menu-link__item:nth-child(1) .menu-link__link {
    padding-left: 0; }
  /* line 102, mobile-personal.scss */
  .header-topL .menu__item:nth-child(2) .menu__link,
  .header-topL .menu-link__item:nth-child(2) .menu-link__link, .menu-link .menu__item:nth-child(2) .menu__link,
  .menu-link .menu-link__item:nth-child(2) .menu-link__link {
    position: relative; }
    /* line 105, mobile-personal.scss */
    .header-topL .menu__item:nth-child(2) .menu__link::before,
    .header-topL .menu-link__item:nth-child(2) .menu-link__link::before, .menu-link .menu__item:nth-child(2) .menu__link::before,
    .menu-link .menu-link__item:nth-child(2) .menu-link__link::before {
      content: '';
      position: absolute;
      display: block;
      top: 50%;
      margin-top: -6px;
      left: 0;
      width: 1px;
      height: 12px;
      background: #383838; }
    /* line 115, mobile-personal.scss */
    .header-topL .menu__item:nth-child(2) .menu__link::after,
    .header-topL .menu-link__item:nth-child(2) .menu-link__link::after, .menu-link .menu__item:nth-child(2) .menu__link::after,
    .menu-link .menu-link__item:nth-child(2) .menu-link__link::after {
      content: '';
      position: absolute;
      display: block;
      top: 50%;
      margin-top: -6px;
      right: 0;
      width: 1px;
      height: 12px;
      background: #383838; }
  /* line 127, mobile-personal.scss */
  .header-topL .menu__item:nth-child(3) .menu__link,
  .header-topL .menu-link__item:nth-child(3) .menu-link__link, .menu-link .menu__item:nth-child(3) .menu__link,
  .menu-link .menu-link__item:nth-child(3) .menu-link__link {
    padding-right: 0; }

/* line 133, mobile-personal.scss */
.link-block {
  width: 90%;
  margin: 0 auto;
  margin-top: 20px; }

/* line 139, mobile-personal.scss */
.menu-link {
  border: none;
  margin-bottom: 0; }

/* line 144, mobile-personal.scss */
.header-topR,
.header-topM,
.header-topL {
  background: #fff;
  position: relative;
  z-index: 200; }

/* line 152, mobile-personal.scss */
.header-topM {
  height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid rgba(56, 56, 56, 0.3); }
  /* line 157, mobile-personal.scss */
  .header-topM .client-link {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 0.9375rem;
    line-height: 38px;
    color: #8C46BA;
    display: inline-block; }

/* line 168, mobile-personal.scss */
.link-block__link {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 0.9375rem;
  line-height: 38px;
  color: #8C46BA;
  display: inline-block; }

/* line 179, mobile-personal.scss */
.header-topR {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 38px;
  border-bottom: 1px solid rgba(56, 56, 56, 0.3); }
  /* line 185, mobile-personal.scss */
  .header-topR .register-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    /* line 190, mobile-personal.scss */
    .header-topR .register-block__link {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 0.9375rem; }
      /* line 196, mobile-personal.scss */
      .header-topR .register-block__link:first-child {
        padding-right: 10px;
        position: relative; }
        /* line 199, mobile-personal.scss */
        .header-topR .register-block__link:first-child::before {
          content: '';
          position: absolute;
          display: block;
          top: 50%;
          margin-top: -6px;
          right: 0;
          width: 1px;
          height: 12px;
          background: #383838; }
      /* line 210, mobile-personal.scss */
      .header-topR .register-block__link:last-child {
        padding-left: 10px; }

/* line 217, mobile-personal.scss */
.header-middleL,
.header-middleM,
.header-middleR {
  position: relative;
  z-index: 200;
  background: #fff; }

/* line 225, mobile-personal.scss */
.header-middleL {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 81px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

/* line 231, mobile-personal.scss */
.logo-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%; }
  /* line 237, mobile-personal.scss */
  .logo-block__logo {
    display: inline-block;
    font-weight: bold;
    font-size: 1.5rem; }
    /* line 241, mobile-personal.scss */
    .logo-block__logo:hover {
      color: #383838; }
  /* line 245, mobile-personal.scss */
  .logo-block__text {
    font-weight: 600;
    font-size: 0.75rem;
    margin-bottom: 4px;
    letter-spacing: 0.04em; }

/* line 253, mobile-personal.scss */
.header-middleM {
  height: 81px; }
  /* line 255, mobile-personal.scss */
  .header-middleM .tel-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%; }
    /* line 261, mobile-personal.scss */
    .header-middleM .tel-block__text {
      margin-bottom: 5px;
      font-size: 0.8125rem;
      opacity: 0.7;
      margin-bottom: 0; }
    /* line 267, mobile-personal.scss */
    .header-middleM .tel-block__tel {
      font-size: 1.5rem;
      margin-bottom: 1px;
      line-height: 1.5rem;
      margin-bottom: 0; }

/* line 277, mobile-personal.scss */
.header-middleR {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 81px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  /* line 283, mobile-personal.scss */
  .header-middleR .basket {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 32px;
    height: 28px;
    position: relative;
    letter-spacing: 0.04em;
    font-size: 0.875rem; }
    /* line 292, mobile-personal.scss */
    .header-middleR .basket::after {
      content: '';
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url(../../img/basket.svg) no-repeat center; }
  /* line 303, mobile-personal.scss */
  .header-middleR .price {
    margin-bottom: 0;
    margin-left: 19px;
    letter-spacing: 0.02em;
    font-size: 1.375rem; }

/* line 311, mobile-personal.scss */
.section-menu {
  background: -webkit-gradient(linear, left top, right top, from(#E056D2), to(#7C43B6));
  background: linear-gradient(90deg, #E056D2 0%, #7C43B6 100%);
  position: relative;
  z-index: 200; }

/* line 317, mobile-personal.scss */
.way-text {
  margin-top: 5px;
  margin-bottom: 10px; }

/* line 322, mobile-personal.scss */
.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #fff;
  width: 80%;
  margin-top: -8px; }

/* line 329, mobile-personal.scss */
.input-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 32px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  /* line 335, mobile-personal.scss */
  .input-block__input {
    font-size: 0.8125rem;
    opacity: .7;
    padding: 0 5px 0 0;
    border: none;
    width: 80%;
    background: transparent;
    color: #fff; }
  /* line 344, mobile-personal.scss */
  .input-block__submit {
    width: 32px;
    height: 32px;
    border: none;
    background: url(../img/search2.svg) no-repeat center; }

/* line 352, mobile-personal.scss */
.page-mobileR,
.page-mobileL,
.page-mobileM {
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 200; }

/* line 363, mobile-personal.scss */
.page-mobileL__delivery-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.875rem;
  color: #fff;
  margin-bottom: 0; }
  /* line 369, mobile-personal.scss */
  .page-mobileL__delivery-text img {
    margin-top: -6px;
    margin-right: 5px;
    width: auto; }

/* line 377, mobile-personal.scss */
.page-mobileR {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  /* line 379, mobile-personal.scss */
  .page-mobileR .burger img {
    width: auto; }

    /* line 161, mobile-personal.scss */
.page-mobile .tel {
  margin-bottom: 0;
  color: #fff;
  font-size: 1.25rem; }

/* line 384, mobile-personal.scss */
.mob-menu {
  display: none;
  background: #FAF5FF;
  padding-top: 176px;
  padding-bottom: 120px;
  margin-bottom: 26px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100; }
  /* line 396, mobile-personal.scss */
  .mob-menu::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 176px;
    background: #fff;
    z-index: 120; }

/* line 409, mobile-personal.scss */
.mob {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

/* line 414, mobile-personal.scss */
.mobile-menu {
  width: 45%;
  margin-bottom: 18px; }

/* line 419, mobile-personal.scss */
.mobile-menu, .sub-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  /* line 422, mobile-personal.scss */
  .mobile-menu__item, .sub-menu__item {
    width: 100%;
    display: block;
    margin: 0 auto;
    border-bottom: 1px solid rgba(56, 56, 56, 0.2);
    -webkit-transition: 1s;
    transition: 1s; }
    /* line 428, mobile-personal.scss */
    .mobile-menu__item img, .sub-menu__item img {
      width: auto; }
  /* line 432, mobile-personal.scss */
  .mobile-menu__link, .sub-menu__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    line-height: 40px;
    letter-spacing: 0.01em;
    font-size: 0.9375rem;
    padding-right: 10px; }

/* line 444, mobile-personal.scss */
.sub-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 0;
  overflow: hidden;
  -webkit-transition: 1s;
  transition: 1s;
  width: 100%; }
  /* line 450, mobile-personal.scss */
  .sub-menu__item {
    width: 100%; }
  /* line 453, mobile-personal.scss */
  .sub-menu__item:first-child {
    border-top: 1px solid rgba(56, 56, 56, 0.2); }
  /* line 456, mobile-personal.scss */
  .sub-menu__item:last-child {
    border: none; }
  /* line 459, mobile-personal.scss */
  .sub-menu__link {
    padding: 0 15px; }

/* line 464, mobile-personal.scss */
.mobile-menu__item:hover .sub-menu,
.mobile-menu__item:focus .sub-menu {
  height: 170px; }

/* line 469, mobile-personal.scss */
.header-middleR {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  /* line 471, mobile-personal.scss */
  .header-middleR .form {
    display: none; }

/* line 478, mobile-personal.scss */
.cabinet-page {
  padding-top: 24px;
  padding-bottom: 73px; }
  /* line 482, mobile-personal.scss */
  .cabinet-page__title {
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    font-size: 1.125rem;
    font-weight: 600;
    margin-bottom: 40px; }

/* line 492, mobile-personal.scss */
.title-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px; }
  /* line 498, mobile-personal.scss */
  .title-block__link {
    display: inline-block;
    width: 50%;
    text-align: center;
    line-height: 60px;
    background: #FAF5FF;
    letter-spacing: 0.02em;
    font-weight: bold; }
    /* line 507, mobile-personal.scss */
    .title-block__link:hover, .title-block__link:focus {
      background: #8B46BA;
      color: #fff; }

/* line 514, mobile-personal.scss */
.block-form {
  display: block;
  width: 100%; }

/* line 519, mobile-personal.scss */
.form-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px; }

/* line 526, mobile-personal.scss */
.input-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto; }

/* line 532, mobile-personal.scss */
.item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  /* line 537, mobile-personal.scss */
  .item label {
    letter-spacing: 0.02em;
    font-size: 0.875rem; }
  /* line 542, mobile-personal.scss */
  .item input {
    border: 1px solid #383838;
    border-radius: 3px;
    line-height: 40px;
    letter-spacing: 0.02em;
    font-size: 0.875rem;
    padding: 0 5px;
    margin-bottom: 12px; }

/* line 553, mobile-personal.scss */
button, .exit {
  letter-spacing: 0.02em;
  text-transform: uppercase;
  width: 315px;
  background: #8B46BA;
  color: #fff;
  text-align: center;
  font-weight: bold;
  border-radius: 3px;
  border: 1px solid transparent;
  line-height: 40px;
  margin: 40px auto; }

/* line 567, mobile-personal.scss */
.exit {
  display: block;
  color: #383838;
  border-color: #383838;
  background: transparent;
  margin: 0; }

/* line 575, mobile-personal.scss */
.order-item {
  border: 1px solid rgba(56, 56, 56, 0.2);
  border-left: none;
  border-right: none;
  margin-bottom: 20px;
  padding-top: 20px; }

/* line 583, mobile-personal.scss */
.order-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  /* line 587, mobile-personal.scss */
  .order-top__name {
    letter-spacing: 0.02em;
    font-weight: 600;
    font-size: 1.25rem;
    text-align: center; }
  /* line 593, mobile-personal.scss */
  .order-top__info {
    letter-spacing: 0.02em;
    font-weight: 600;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  /* line 599, mobile-personal.scss */
  .order-top__status {
    color: #219653;
    margin-left: 47px; }
  /* line 603, mobile-personal.scss */
  .order-top__status.yellow {
    color: #F2C94C; }

/* line 608, mobile-personal.scss */
.product-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%; }

/* line 615, mobile-personal.scss */
.product-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px; }

/* line 620, mobile-personal.scss */
.info-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 30px;
  width: 100%; }
  /* line 626, mobile-personal.scss */
  .info-block__name {
    width: 100%;
    letter-spacing: 0.01em;
    font-size: 0.9375rem;
    line-height: 1.1rem; }
  /* line 632, mobile-personal.scss */
  .info-block__number {
    letter-spacing: 0.02em; }

/* line 637, mobile-personal.scss */
.price {
  letter-spacing: 0.02em;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  /* line 643, mobile-personal.scss */
  .price .numeral {
    font-size: 1.5rem;
    font-weight: normal;
    margin-left: 33px; }

/* line 650, mobile-personal.scss */
.ordertwo-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  /* line 654, mobile-personal.scss */
  .ordertwo-top img {
    width: auto; }
  /* line 657, mobile-personal.scss */
  .ordertwo-top__name {
    text-align: center;
    margin-bottom: 0;
    width: 100%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.5rem; }

/* line 668, mobile-personal.scss */
.ordertwo-toptwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 34px;
  margin-bottom: 26px; }
  /* line 673, mobile-personal.scss */
  .ordertwo-toptwo p {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0;
    letter-spacing: 0.02em;
    font-weight: 600; }
    /* line 678, mobile-personal.scss */
    .ordertwo-toptwo p span {
      margin-left: 7px; }
  /* line 682, mobile-personal.scss */
  .ordertwo-toptwo__data {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  /* line 686, mobile-personal.scss */
  .ordertwo-toptwo__price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    /* line 689, mobile-personal.scss */
    .ordertwo-toptwo__price span {
      font-size: 1.5rem;
      font-weight: normal; }
  /* line 694, mobile-personal.scss */
  .ordertwo-toptwo__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  /* line 698, mobile-personal.scss */
  .ordertwo-toptwo__status {
    color: #219653; }

/* line 703, mobile-personal.scss */
.address {
  letter-spacing: 0.02em;
  font-weight: 600; }
  /* line 707, mobile-personal.scss */
  .address span {
    display: block;
    font-weight: normal; }

/* line 713, mobile-personal.scss */
.button-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%; }
  /* line 719, mobile-personal.scss */
  .button-block__link {
    width: 315px;
    border-radius: 3px;
    border: 1px solid transparent;
    background: #8B46BA;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    font-size: 0.875rem;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin-top: 24px; }
  /* line 734, mobile-personal.scss */
  .button-block__link:last-child {
    background: transparent;
    border-color: #383838;
    color: #383838; }

/* line 744, mobile-personal.scss */
.footer {
  color: #fff;
  background: #383838;
  padding-top: 37px; }

/* line 750, mobile-personal.scss */
.block-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  /* line 753, mobile-personal.scss */
  .block-link__link {
    display: inline-block;
    color: #fff;
    font-size: 0.9375rem;
    font-family: 'Roboto';
    margin-bottom: 15px; }
    /* line 759, mobile-personal.scss */
    .block-link__link:hover, .block-link__link:focus {
      color: #fff; }
  /* line 763, mobile-personal.scss */
  .block-link__link:nth-child(6) {
  margin-bottom: 30px; }

/* line 769, mobile-personal.scss */
.block-link2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  /* line 772, mobile-personal.scss */
  .block-link2__link {
    display: inline-block;
    color: #fff;
    font-size: 0.9375rem;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    margin-bottom: 15px; }
    /* line 779, mobile-personal.scss */
    .block-link2__link:hover, .block-link2__link:focus {
      color: #fff; }

/* line 785, mobile-personal.scss */
.contact-block {
  padding-top: 10px; }
  /* line 788, mobile-personal.scss */
  .contact-block .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    width: 100%; }
  /* line 794, mobile-personal.scss */
  .contact-block .input-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 32px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    /* line 800, mobile-personal.scss */
    .contact-block .input-block__input {
      font-size: 0.8125rem;
      opacity: .7;
      padding: 0 5px 2px 0;
      border: none;
      width: 90%;
      color: #fff;
      background: transparent; }
    /* line 809, mobile-personal.scss */
    .contact-block .input-block__submit {
      width: 32px;
      height: 32px;
      border: none;
      background: url(../img/search2.svg) no-repeat center; }
  /* line 817, mobile-personal.scss */
  .contact-block .tel-block {
    margin-top: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 50%;
    height: 100%; }
    /* line 825, mobile-personal.scss */
    .contact-block .tel-block__text {
      margin-bottom: 5px;
      font-size: 0.8125rem;
      opacity: 0.7;
      color: #fff; }
    /* line 831, mobile-personal.scss */
    .contact-block .tel-block__tel {
      font-size: 1.5rem;
      margin-bottom: 1px;
      line-height: 1.5rem;
      color: #fff; }
  /* line 839, mobile-personal.scss */
  .contact-block__delivery-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0;
    color: #fff;
    font-size: 0.875rem;
    line-height: 1.1875rem;
    letter-spacing: 0.02em;
    margin-top: 15px; }
    /* line 850, mobile-personal.scss */
    .contact-block__delivery-text img {
      margin-top: -5px;
      margin-right: 6px;
      width: auto; }

/* line 858, mobile-personal.scss */
.catalog {
  display: none; }

/* line 863, mobile-personal.scss */
.card-block__text {
  color: #fff;
  font-size: 0.8125rem;
  opacity: .7;
  margin-bottom: 12px;
  margin-top: 37px; }

/* line 872, mobile-personal.scss */
.card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: auto; }

/* line 880, mobile-personal.scss */
.card-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 24%;
  margin: 0 !important; }
  /* line 884, mobile-personal.scss */
  .card-link img {
    width: auto; }

/* line 889, mobile-personal.scss */
.requisites-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 1px solid rgba(196, 196, 196, 0.3);
  margin-top: 20px;
  padding-top: 24px;
  padding-bottom: 24px; }
  /* line 897, mobile-personal.scss */
  .requisites-block__text {
    text-align: center;
    letter-spacing: 0.01em;
    color: #fff;
    margin-bottom: 0px; }
  /* line 903, mobile-personal.scss */
  .requisites-block__text:first-child {
    margin-bottom: 20px; }

@media (min-width: 992px) {
  /* line 910, mobile-personal.scss */
  .slick-list, .draggable {
    padding: 0px !important; }

  /* line 915, mobile-personal.scss */
  .advantages-item__text {
    width: 80%; } }
@media (max-width: 768px) {
  /* line 922, mobile-personal.scss */
  .total-block, .product {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%; }

  /* line 926, mobile-personal.scss */
  .contact-form {
    width: 60%;
    margin: 0 auto; } }
@media (max-width: 575px) {
  /* line 933, mobile-personal.scss */
  .total-block {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

  /* line 936, mobile-personal.scss */
  .contact-form {
    width: 100%;
    margin: 0 auto; } }
